{# <div class="block">
  <table class="table is-striped">
    <tbody>
      {% for resume in resumeList %}
      {%if loop.first %}
      <thead>
        <tr class="{{theme_bg_color}}">
          <!-- <th class="has-text-centered {{theme_text_color}}">RESUME ID</th> -->
          <th class="has-text-centered {{theme_text_color}}">NAME</th>
          <th class="has-text-centered {{theme_text_color}}">EMAIL</th>
          <th class="has-text-centered {{theme_text_color}}">PHONE</th>
          <th class="has-text-centered {{theme_text_color}}">STATUS</th>
          <th class="has-text-centered {{theme_text_color}}"></th>
        </tr>
      </thead>
      {%endif %}
      <tr class="{{theme_bg_color}}">
        <!-- <td class="has-text-centered {{theme_text_color}}">{{ resume.id }}</td> -->
        <td class="has-text-centered {{theme_text_color}}">{{ resume.name }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{ resume.email }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{ resume.phone }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{resume.description}}</td>
        <td class="has-text-centered {{theme_text_color}}">
          {%if actionTemplate == 'shortlist' %}
          {% include 'jd/shortlist_actions.html'%}
          {%endif %}
          {%if actionTemplate == 'work' %}
          {% include 'jd/shortlisted_actions.html'%}
          {%endif %}

        </td>
      </tr>
      {% else %}
      <div class="notification is-warning">
        No Resumes found !!!
      </div>
      {% endfor %}
    </tbody>
  </table>
</div> #}

{# <div class="body-background is-half">
  <div class="job-position">
    <div class="container">
      <section class="section topbar-title">
        <h1 class="title">Manage Users</h1>
        <h2 class="subtitle">
          This section allows tenant administrator to add / delete users to his tenant.
        </h2>
        {% include '/utils/show_timed_msg.html'%}
        <button class="button is-success" id="add-user-button">Add User</button>
      </section>


    </div>
  </div>
  <div class="job-position table-height">
    <div class="container">
      <section class="application-form">
        <div class="table-container">

          <table class="table is-fullwidth">
            {% for user in userList %}
            {%if loop.first %}
            <thead>
              <tr class="header">
                <th style="color: #8c8c8c;">Client<span style="margin-left: 10px;">

                    <i class="fa fa-arrow-up"></i>

                  </span>
                </th>
                <th style="color: #8c8c8c;">Email<span style="margin-left: 10px;">

                    <i class="fa fa-arrow-up"></i>

                  </span>
                  </span>
                </th>
                <th style="color: #8c8c8c;">Status<span style="margin-left: 10px;">

                    <i class="fa fa-arrow-up"></i>

                  </span>
                </th>
                <th style="color: #8c8c8c;">Actions</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              <tr class="table-data">
                <td>{{user.name}}</td>

                <td>{{user.email}}</td>
                {% if user.status == 1 %}
                <td>Active</td>
                {% else %}
                <td>Closed</td>
                {% endif %}
                <td>
                  <abbr title="Edit"><i class="fa fa-pencil-square-o"></i></abbr></a>
                  <span style="margin-left: 20px;"><a href=""><abbr title="Download Client JD"><i
                          class="fa fa-download"></i></abbr></a></span>
                </td>
              </tr>
              {% else %}
              <div class="notification is-warning">
                No JDs found !!!
              </div>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </section>
    </div>
  </div> #}