 <div class="block">
  <table  style="margin-left:10%"class="table is-fullwidth">
    <tbody>
      {% for resume in resumeList %}
      {%if loop.first %}
      <thead>
        <tr class="{{theme_bg_color}}">
          <!-- <th class="has-text-centered {{theme_text_color}}">RESUME ID</th> -->
          <th class="has-text-centered {{theme_text_color}}">NAME</th>
          <th class="has-text-centered {{theme_text_color}}">EMAIL</th>
          <th class="has-text-centered {{theme_text_color}}">PHONE</th>
          <th class="has-text-centered {{theme_text_color}}">STATUS</th>
          <th class="has-text-centered {{theme_text_color}}"></th>
        </tr>
      </thead>
      {%endif %}
      <tr class="{{theme_bg_color}}">
        <!-- <td class="has-text-centered {{theme_text_color}}">{{ resume.id }}</td> -->
        <td class="has-text-centered {{theme_text_color}}">{{ resume.name }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{ resume.email }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{ resume.phone }}</td>
        <td class="has-text-centered {{theme_text_color}}">{{resume.description}}</td>
        <td class="has-text-centered {{theme_text_color}}">
          {%if actionTemplate == 'shortlist' %}
          {% include 'jd/shortlist_actions.html'%}
          {%endif %}
          {%if actionTemplate == 'work' %}
          {% include 'jd/shortlisted_actions.html'%}
          {%endif %}

        </td>
      </tr>
      {% else %}
      <div class="notification is-warning">
        No Resumes found !!!
      </div>
      {% endfor %}
    </tbody>
  </table>
</div> 