{%extends "app_header.html" %}
{%block content%}

{% if form.id.data != -1 %}
<nav class="breadcrumb" id="resumeedit"  aria-label="breadcrumbs">
  <ul>
    <li><a href="/resume/showBrowser">Resume Browser</a></li>
    <li class="is-active"><a href="#" aria-current="page">Edit</a></li>
  </ul>
</nav>
{%endif%}

<div class="resume-upload">
<section class="container is-fullheight">
  <script type="text/javascript">
    const clearFile = ()=> {
                  console.log(document.getElementById('myInputFileID').value);
                  document.getElementById('myInputFileID').value = null;
                  console.log(document.getElementById('myInputFileID').value);
                  document.getElementById('reset-file-field').innerHTML = "None";

                }
  </script>
      <div class="block"></div>

      <div class="columns is-centered">
          <div class="column is-half">
            <section class="section topbar-title">
              <h1 class="title">Upload Resumes</h1>
              <h2 class="subtitle">
                Upload resume with candidate's basic information
              </h2>
            </section>
          <form name="resume" action = "/resume/save" method="POST" enctype="multipart/form-data">
            {% include '/utils/show_msg.html'%}

            {% for error in form.submit.errors %}
                <p><large class="has-text-danger">{{ error }}</large></p>  
            {% endfor %}

            {{ form.hidden_tag() }}
            {{form.id()}}

            <div class="field">
              <div  id="resume-selector" class="file has-name">
                <label class="file-label">
                  <input id="myInputFileID" type="file" name="candidate_resume" class="file-input" accept=".pdf, .docx">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Select Resume ( word, pdf only)
                    </span>
                  </span>
                  <span class="file-name" id="reset-file-field">
                    {{form.candidate_resume.data}}
                  </span>
                </label>
            
                <div class="reset-button">
                  <input class="button is-success" type="button" onclick="clearFile()" value="Reset">
                </div>
              </div>
              <script>
                resumefileInput = document.querySelector('#resume-selector input[type=file]');
                resumefileInput.onchange = () => {
                  if (resumefileInput.files.length > 0) {
                    //alert('inside file change');
                    console.log('File selected for upload is : ');
                    fileName = document.querySelector('#resume-selector .file-name');
                    fileName.textContent = resumefileInput.files[0].name;
                    console.log('File selected for upload is : ' + fileName.textContent);

                  }
                }

               

                
              </script>
                {% for error in form.candidate_resume.errors %}
                    <small class="has-text-danger has-text-left">{{ error }}</small>  
                {% endfor %}
          </div>
            

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_name.label }}</label>
              <div class="control">
                {{form.candidate_name(class='input', placeholder="Enter Candidate's Name")}}
                {% for error in form.candidate_name.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_email.label }}</label>
              <div class="control">
                {{form.candidate_email(class='input', placeholder="Enter Candidate's Email")}}
                {% for error in form.candidate_email.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_phone.label }}</label>
              <div class="control">
                {{form.candidate_phone(class='input', placeholder="Enter Candidate's Phone")}}
                {% for error in form.candidate_phone.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success ') }}
              </p>      
              {% for error in form.submit.errors %}
              <p><large class="has-text-danger">{{ error }}</large></p>  
              {% endfor %}

            </div>            
          </form>
        </div>
          {%include'resume/show_resume_upload_via_email_page.html' %}
        
      </div>

</section>

</div>
{% endblock %}

