{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">
      <div class="block"></div>

      <div class="columns is-centered">
          <div class="column is-half">
            <section class="section topbar-title">
              <h1 class="title">Upload resumes</h1>
              <h2 class="subtitle">
                This section allows you to upload resume with basic information about the candidate
              </h2>
            </section>
          <form  action = "/resume/save" method="POST" enctype="multipart/form-data">
            {% include '/utils/show_msg.html'%}

            {% for error in form.submit.errors %}
                <p><large class="has-text-danger">{{ error }}</large></p>  
            {% endfor %}

            {{ form.hidden_tag() }}
            {{form.id()}}

            <div class="field">
              <div  id="resume-selector" class="file has-name">
                <label class="file-label">
                  <input type="file" name="candidate_resume" class="file-input">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Select resume ( word, pdf only)…
                    </span>
                  </span>
                  <span class="file-name">
                    {{form.candidate_resume.data}}
                  </span>
                </label>
              </div>
              <script>
                resumefileInput = document.querySelector('#resume-selector input[type=file]');
                resumefileInput.onchange = () => {
                  if (resumefileInput.files.length > 0) {
                    //alert('inside file change');
                    console.log('File selected for upload is : ');
                    fileName = document.querySelector('#resume-selector .file-name');
                    fileName.textContent = resumefileInput.files[0].name;
                    console.log('File selected for upload is : ' + fileName.textContent);

                  }
                }
              </script>
                {% for error in form.candidate_resume.errors %}
                    <small class="has-text-danger has-text-left">{{ error }}</small>  
                {% endfor %}
          </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_name.label }}</label>
              <div class="control">
                {{form.candidate_name(class='input', placeholder="Enter candidate's name")}}
                {% for error in form.candidate_name.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_email.label }}</label>
              <div class="control">
                {{form.candidate_email(class='input', placeholder="Enter candidate's email")}}
                {% for error in form.candidate_email.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.candidate_phone.label }}</label>
              <div class="control">
                {{form.candidate_phone(class='input', placeholder="Enter candidate's phone")}}
                {% for error in form.candidate_phone.errors %}
                  <small class="has-text-danger">{{ error }}</small>  
                {% endfor %}
              </div>
            </div>

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success ') }}
              </p>      
              {% for error in form.submit.errors %}
              <p><large class="has-text-danger">{{ error }}</large></p>  
              {% endfor %}

            </div>            
          </form>
        </div>
          {%include'resume/show_resume_upload_via_email_page.html' %}
        
      </div>

</section>

{% endblock %}

