{%extends "app_header.html" %}
{%block content%}

<div class="body-background is-half" id="resumeBrowserPage">
  <div class="job-position">
    <div class="container">
      <section class="section topbar-title">
        <h1 class="title">Resume Browser</h1>
        <h2 class="subtitle">
          You can now search and browse through resumes uploaded by you
        </h2>
        <div id="resumeBrowserMessages">{% include '/utils/show_timed_msg.html'%}</div>
      </section>

    </div>
  </div>
  <div class="job-position">
    <div class="container">
      <!-- enctype="multipart/form-data" -->
      <section class="section" id="resumeSearchBar">
        <form action="/resume/search" method="POST" data-turbo-frame="show_resumeList">
          <div class="field">
            <div class="field has-addons">
              <div class="control">
                {{form.ft_search(class='input', placeholder="Search resumes")}}
              </div>
              <div class="control">
                {{ form.submit( class = 'button is-success') }}
              </div>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>


  <turbo-frame id="show_resumeList">
    <div class="job-position table-height">
      <div class="container">
        <section class="application-form">
          <div class="table-container" id="resumeListTable">
            <table class="table is-fullwidth">
              {% for resume in resumeList %}
              {%if loop.first %}
              <thead>
                <tr class="header">
                  <th>Name<span>
                    <a href="/resume/showBrowser?order_by=name&order={{toggles.name.orderToggle}}"><i class="{{toggles.name.arrowToggle}}"></i></a></a>
                    </span>
                  </th>
                  <th>Email<span>

                      <!-- <i class="fa fa-arrow-up"></i> -->

                    </span>
                  </th>
                  <th>Phone<span>

                      <!-- <i class="fa fa-arrow-up"></i> -->

                    </span>
                  </th>
                  <th>Top skills</th>
                  <th>Action</th>
                </tr>
              </thead>
              {% endif %}
              <tbody>
                <tr class="table-data">
                  <td>{{resume.name}}
                    {% if resume.recently_added %}
                      <sup><span class="tag is-info is-size-7">New</span></sup>
                    {% endif %}
                  </td>
                  
                  <td>{{resume.email}}</td>
                  <td>{{resume.phone}}</td>
                  <td>{{resume.topskill1 if resume.topskill1}}<br/>
                    {{resume.topskill2 if resume.topskill2}}<br/>
                    {{resume.topskill3 if resume.topskill3}}
                  </td>
                  <td class="table-actions" data-turbo="false">
                    <a title="Edit" href="/resume/showEditPage/{{resume.id}}">
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                    <span><a title="Download Resume" href="/resume/download/{{resume.id}}" onclick="this.classList.add('is-loading');">
                      <i class="fa fa-download"></i>
                    </a></span>
                  </td>
                </tr>
                {% else %}
                  <div class="notification is-warning">
                    No Resumes found !!!
                  </div>
                {% endfor %}
              </tbody>
            </table>
            <div class="is-flex is-flex-direction-row is-justify-content-flex-end container pagination">
              {% if totalPages > 1 %}
              <div class="currentPage"><a>{{pagination.page}} <span class="sr-only">(current)</span></a></div>
              <div class="totalPages"><a>Of {{ totalPages}} <span class="sr-only">(current)</span></a></div>
              {% if pagination.page > 1 %}
              <div><a class="left"
                  href="?page={{pagination.page - 1}}&per_page={{pagination.per_page}}"
                  aria-label="Next"><span>&laquo;</span><span class="sr-only">Next</span></a></div>
  
              {% else %}
              <div><a class="left" href="" aria-label="Next"><span>&laquo;</span><span class="sr-only">Next</span></a>
              </div>
              {% endif %}
  
              {% if pagination.page < totalPages %} <div><a class="right"
                  href="?page={{pagination.page + 1}}&per_page={{pagination.per_page}}"
                  aria-label="Next">
                  <span>&raquo;</span><span class="sr-only">Next</span></a>
            </div>
            {% else %}
            <div><a class="right" href="" aria-label="Next"><span>&raquo;</span><span class="sr-only">Next</span></a>
            </div>
            {% endif %}
            {% endif %}
          </div>
          </div>

        </section>
      </div>
    </div>
  </turbo-frame>
</div>
{% endblock %}