{%extends "app_header.html" %}
{%block content%}
<section class="container is-fullheight">

    <div class="block">
      {% set messages = get_flashed_messages(with_categories = true ) %}            
      {% if messages %}    
        {% for category, message in messages %}  
            <div class="notification {{ category }}">
              <button class="delete"></button>
              {{ message }}
            </div>
          {% endfor %}                  
      {% endif %}
    </div>
    <div class = "block is-size-4 has-text-light">
        Search and Browse through the resumes you uploaded.
    </div>
    <div class="block">   
        <div class="table-container has-text-centered">
          <table class="table is-striped">
            <tbody>
            {% for resume in resumeList %}
              {%if loop.first %}
                <thead>
                  <tr class="has-background-dark">
                    <th class="has-text-centered has-text-light">ID</th>
                    <th class="has-text-centered has-text-light">NAME</th>
                    <th class="has-text-centered has-text-light">EMAIL</th>
                    <th class="has-text-centered has-text-light">PHONE</th>
                    <th class="has-text-centered has-text-light">ACTIONS</th>
                  </tr>
                </thead>
              {%endif %}
              <tr class="has-background-dark">
                <td class="has-text-centered has-text-light">{{ resume.id }}</td>
                <td class="has-text-centered has-text-light">{{ resume.name }}</td>
                <td class="has-text-centered has-text-light">{{ resume.email }}</td> 
                <td class="has-text-centered has-text-light">{{ resume.phone }}</td>
                <td class="has-text-centered has-text-light">
                  <div class ="field is-grouped">
                  <p class="control"><a class="button is-link  is-small" href="/resume/download?resume={{resume.resume_filename}}">Download</a></p>
                  <p class="control"><a class="button is-link  is-small" href="/resume/showEditPage/{{resume.id}}">Edit</a></p>
            
                 </div>    
                </td>       
              </tr>
            {% else %}
              <div class="notification is-warning">
                No Resumes found !!!
              </div>
            {% endfor %}
          </tbody>
          </table>
        </div>  
    </div>
</section>
{% endblock %}
