{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">
  <div class = "block is-size-4 has-text-light">
      Upload resumes via Email
  </div>
  <div class ="notification is-info has-text-left">
      You can upload resumes to your WeRecruit account by 
      <li>Sending resumes as one or more attachments ( docx,doc,pdf ) from your registered email account to myresumes@werecruit.cloud.</li>
      <li>WeRecruit detects the candidate name, phone, email from the attached resumes to create a record in the system. You should verify the name, email & phone fields and correct them if required.</li>
      <li>Resumes uploaded via email can be browsed similar to resumes uploaded from web app by navigating to 'Resumes->Browser' menu.</li>  
  </div>
</section>

{% endblock %}

