

<section class="container is-fullheight">
  <div class = "block is-size-4 {{theme_text_color}}">
     
  </div>
  <div class ="notification is-info has-text-left">
   <b> <label> Upload resumes via Email</label></b>
     <!-- <h4>You can upload resumes to your WeRecruit account by </h4> -->
     <div class="content">

      <ul class="list-unstyled">
        <li>Upload Resumes to your werecruit account from your registered email account to resumes@werecruit.cloud</li>
      <li>Resumes to be sent as one or more attachment in (docx,pdf)</li>
      <li>WeRecruit auto detects candidate's details such as Name,Email,Phone from the attached resumes and creates a record in the system</li>
      <li>Navigate to Resumes >>> Browser menu to browse through resumes uploaded via emailor the web app</li>  
    
      </ul>
    </div></div>
</section>



