<div class = "block has-text-left">
    <p></p>
    <p><span class="title is-size-4 has-text-info">Candidate details</span></p>

    <p class="heading">ID</p>
    <p class="{{theme_text_color}}">{{resume.id}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Name</p>
    <p class="{{theme_text_color}}">{{resume.name}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Email</p>
    <p class="{{theme_text_color}}">{{resume.email}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Phone</p>
    <p class="{{theme_text_color}}">resume.phone</p>
    <hr class="gn-section1">
    
</div>

