<div class = "block has-text-left">
    <p></p>
    <p><span class="title is-size-4 has-text-info">Candidate details</span></p>

    <p class="heading">ID</p>
    <p class="has-text-white">{{resume.id}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Name</p>
    <p class="has-text-white">{{resume.name}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Email</p>
    <p class="has-text-white">{{resume.email}}</p>
    <hr class="gn-section1">
    
    <p class="heading">Phone</p>
    <p class="has-text-white">resume.phone</p>
    <hr class="gn-section1">
    
</div>
<!--
<nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">ID</p>
        <p class="has-text-white">{{resume.id}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Name</p>
        <p class="has-text-white">{{resume.name}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="heading">Email</p>
        <p class="has-text-white">{{resume.email}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
          <p class="heading">Phone</p>
          <p class="has-text-white">resume.phone</p>
        </div>
    </div>
  </nav>
<hr class="gn-section1">
-->

