<!DOCTYPE html>
<html>
  <head>
    {{ fontawesome_html() }}
    <meta charset="utf-8">
    <title>We Recruit</title>
    <meta name="description" content="Website of WeRecruit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
  
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
  
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/bulma.css">
  
    <meta name="theme-color" content="#fafafa">
 
  </head>

  <body class ="has-background-dark has-text-centered has-text-grey-light is-family-primary">
    {% set messages = get_flashed_messages(with_categories = true ) %}            

    <nav class="navbar has-background-dark has-text-grey-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a class="navbar-item" href="#">
          
          <img src="{{url_for('static', filename='CareerInsights.png')}}" >
        </a>
        <!--
        <a class="button is-link" href="#">
          Career Insights
        </a> -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start ">
          <div class="navbar-item">
            <a href="/showHomePage">
              <span class ="has-text-grey-light has-text-weight-bold">Home</span>
            </a>             
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class ="has-text-grey-light has-text-weight-bold">Jobs</span>
            </a>    
            <div class="navbar-dropdown">
              <a href ="/jd/showCreatePage" class="navbar-item"><span class ="has-text-grey-light">New posting</span></a>

              <a href ="/jd/showAllPage"class="navbar-item">
                <span class ="has-text-grey-light">Browser</span>
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class ="has-text-grey-light has-text-weight-bold">Resumes</span>
            </a>    
            <div class="navbar-dropdown">
              <a href ="/resume/showUploadPage" class="navbar-item"><span class ="has-text-grey-light">Upload</span></a>

              <a href ="/resume/showBrowser"class="navbar-item">
                <span class ="has-text-grey-light">Browser</span>
              </a>
            </div>
          </div>
          
        </div>
        <div class="block"> <h1 class="title is-size-1 has-background-dark has-text-white mt-3">
          W<span class="has-text-primary is-italic">e</span>RECRUIT</h1> </div>

        <div class="navbar-end">
          <div class="navbar-item">
            {% if session.user_id %}              
              <div class="buttons">
                <a href="/user/showUserProfilePage" class="mr-3 has-text-white">
                  {{ session.user_name }}
                </a>
                
                <a href="/user/doSignout" class="button is-danger">
                  Sign out
                </a>

              </div>

            {% else %}
              <div class="buttons">
                <a href="/user/showSignupPage" class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a href="/user/showSigninPage" class="button is-primary">
                  Sign in
                </a>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
    <hr class = "gn-main"></hr>

    {% block content %}
    {% endblock %}
  </body>
</html>