<!DOCTYPE html>
<html>
  <head>
    {{ fontawesome_html() }}

    <!--set the app theme --> 
    {% set theme = 'DARK' %}
  
    {% if theme == 'DARK' %}
      {% set theme_bg_color = 'has-background-dark' %}
      {% set theme_text_color = 'has-text-grey' %}
    {% else %}  
      {% set theme_bg_color = 'has-background-light' %}
      {% set theme_text_color = 'has-text-dark' %}
    {% endif %}
    
   
    <meta charset="utf-8">
    <title>WeRecruit</title>
    <meta name="description" content="WeRecruit.cloud website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
  
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
  
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/bulma.css">
  
    <meta name="theme-color" content="#fafafa">
 
  </head>

  <body class ="{{theme_bg_color}} has-text-centered {{theme_text_color}} is-family-primary">
    {% set messages = get_flashed_messages(with_categories = true ) %}            

    <nav class="navbar {{theme_bg_color}} {{them_text_color}}" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a class="navbar-item" href="#">
          
          <img src="{{url_for('static', filename='CareerInsights.png')}}" >
        </a>
        <!--
        <a class="button is-link" href="#">
          Career Insights
        </a> -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start ">
          <div class="navbar-item">
            <a href="/showHomePage">
              <span class ="{{theme_text_color}} has-text-weight-bold">Home</span>
            </a>             
          </div>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class ="{{theme_text_color}} has-text-weight-bold">Jobs</span>
            </a>    
            <div class="navbar-dropdown">
              <a href ="/jd/showCreatePage" class="navbar-item"><span class ="{{theme_text_color}}">New posting</span></a>

              <a href ="/jd/showAllPage"class="navbar-item">
                <span class ="{{theme_text_color}}">Browser</span>
              </a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class ="{{theme_text_color}} has-text-weight-bold">Resumes</span>
            </a>    
            <div class="navbar-dropdown">
              <a href ="/resume/showUploadPage" class="navbar-item"><span class ="{{theme_text_color}}">Upload</span></a>
              <a href ="/resume/showUploadPageViaEmail" class="navbar-item"><span class ="{{theme_text_color}}">Upload via email</span></a>

              <a href ="/resume/showBrowser"class="navbar-item">
                <span class ="{{theme_text_color}}">Browser</span>
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <span class ="{{theme_text_color}} has-text-weight-bold">Reports</span>
            </a>    
            <div class="navbar-dropdown">
              <a href ="/resume/showReportSummaryPage" class="navbar-item"><span class ="{{theme_text_color}}">Summary</span></a>

              <a href ="#"class="navbar-item">
                <span class ="{{theme_text_color}}">Detail</span>
              </a>
            </div>
          </div>

        </div>
        <div class="block"> <h1 class="title is-size-1 {{theme_bg_color}} {{theme_text_color}} mt-3">
          W<span class="has-text-primary is-italic">e</span>RECRUIT</h1> </div>

        <div class="navbar-end">
          <div class="navbar-item">
            {% if session.user_id %}              
              <div class="buttons">
                <a href="/user/showUserProfilePage" class="mr-3 {{theme_text_color}}">
                  {{ session.user_name }}
                </a>
                
                <a href="/user/doSignout" class="button is-danger">
                  Sign out
                </a>

              </div>

            {% else %}
              <div class="buttons">
                <a href="/user/showSignupPage" class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a href="/user/showSigninPage" class="button is-primary">
                  Sign in
                </a>
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
    <hr class = "gn-main"></hr>

    {% block content %}
    {% endblock %}
  </body>
</html>