<div class="footer">
    <footer class="footer">
        <div class="footer-column">
            <div class="columns">
                <div class="column is-three-quarters">
                    <div class="content has-text-left">
                        <p>
                            &#169; Copyright 2022 by WeRecruit. All rights reserved.
                            <span style="margin-left: 30px">Privacy Policy</span><span style="margin-left: 30px">Term of
                                use</span>
                        </p>
                    </div>
                </div>
                <div class="column">
                    <div class="content has-text-right">
                        <div class="column" style="margin-right: 85px">
    
                            <a href=""><img style="height: 25px"
                                    src="{{ url_for('static', filename='images/linkedin.png') }}" /></a>
                            <a href=""><img style="height: 25px"
                                    src="{{ url_for('static', filename='images/facebook.png') }}" /></a>
                            <a href=""><img style="height: 25px"
                                    src="{{ url_for('static', filename='images/twitter.png') }}" /></a>
                            <a href=""><img style="height: 25px"
                                    src="{{ url_for('static', filename='images/email.png') }}" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>