<!DOCTYPE html>
<html>
  <head>
    {{ fontawesome_html() }}

    <meta charset="utf-8">
    <title>We Recruit</title>
    <meta name="description" content="Website of WeRecruit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
  
    <!--<link rel="manifest" href="site.webmanifest"> -->
    <link rel="apple-touch-icon" href="werecruit_1.png">
    <!-- Place favicon.ico in the root directory -->
  
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/bulma.css">
    <link rel="stylesheet" href="/static/main.css">

    <meta name="theme-color" content="#fafafa">
  </head>

  <body >
    
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">

        <a class="navbar-item" href="/">
          
          <img src="{{url_for('static', filename='werecruit_logo.png')}}" alt ="weRecruit logo">
        </a>
        <!--
        <a class="button is-link" href="#">
          Career Insights
        </a> -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbar" class="navbar-menu">

        <div class="navbar-end">
          <div class="navbar-item">
            <a href="/#features">Features</a>
          </div>
          <div class="navbar-item">
            <a href="/#pricing">Pricing</a>
          </div>
          <div class="navbar-item">
            <a href="/website/show_release_history">Release History</a>
          </div>

          <div class="navbar-item">
              <div class="buttons">
                <a href="/user/showSignupPage" class="button is-primary">
                  SIGN UP
                </a>
                <a href="/user/showSigninPage" class="button is-primary">
                  SIGN IN
                </a>
              </div>
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </body>
</html>