{%extends "app_header.html" %}
{%block content%}
<section class ="hero">
  {% set messages = get_flashed_messages(with_categories = true ) %}            
  {% if messages %}    
    {% for category, message in messages %}  
        <div class="notification {{ category }}">{{ message }}</div>
      {% endfor %}                  
  {% endif %}
    <div class ="columns is-centered">
      <div class = "column is-half">
        {% include 'jd/interviews_card.html'%}
      </div>
      <div class = "column is-half">
        {% include 'jd/joining_card.html'%}
      </div>
    </div>
    <div class ="columns is-centered">
      <div class = "column is-half">
        {% include 'jd/trending_jds_card.html'%}
      </div>
      <div class = "column is-half">
        {% include 'jd/high_priority_jds_card.html'%}
      </div>
    </div>

</section>

{% endblock %}
