{%extends "header.html" %}
{%block content%}
{% set messages = get_flashed_messages(with_categories = true ) %}

<section class="container is-fullheight has-text-centered">
  <div class="block"><br/></div>

  <div class="block mt-5 is-size-4">
    WeRecruit is on a mission to build world's most sophisticated ai
    driven recruitment stack
    in collaboration with recruiters across the globe. </div>

  <div class="block is-size-4">If you are a freelance recruiter or
    a small/medium sized recruitment
    agency using excel sheets and gmail,
    we would like you to be part of this journey.</div>

  <hr><br/>

  <div id="features" class="block is-size-2 has-text-centered">Features designed to make recruitment a breeze</div>

  <div class="tile is-ancestor">
    <div class="tile">
      <div class="box is-size-4">
        Create unlimited job positions for your clients.
        Define the team of interview panels, Hiring manager & HR to collaborate seamlessly.
      </div>
    </div>
  </div>

  <div class="tile is-ancestor">

    <div class="tile">
      <div class="box is-size-4">
        Upload resumes using web App or via email.
        Auto detect key fields like candidate names, phones, email automatically
        from uploaded email.
        Large number of email templates for notifications and reminders.

      </div>
    </div>
  </div>


  <div class="tile is-ancestor">
    <div class="tile">
      <div class="box is-size-4">
        Large library of job application status codes.
        Take unlimited notes as you update the the job application status.
      </div>
    </div>
  </div>


  <div class="tile is-ancestor">

    <div class="tile">
      <div class="box is-size-4">
        Collection of summary and detailed reports to communicate effectively with your clients.
        Real time dashboards to help you focus on things that matter.
      </div>
    </div>
  </div>

  <br/>
  <hr><br/>

  <div id="pricing" class="block is-size-2 has-text-centered">Flexible pricing for Startups, Resellers & Recruitment
    agencies.</div>
  <div id="pricing" class="block is-size-2 has-text-centered">Drop us an email at <strong>sales@werecruit.cloud</strong>
    and we will get in touch with you.</div>
  <br/>

</section>

{% endblock %}