{%extends "header.html" %}
{%block content%}

<section class="hero is-fullheight has-background-grey-lighter">

  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="box">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="card">
              <div class="card-image">
                <figure class="image">
                  <img src="/static/images/login_green_bg.jpg" alt="">
                </figure>
              </div>
              <div class="card-content is-overlay has-text-left content">
                <div class="has-text-white">
                  <h2 class="heading has-text-white ml-6">Welcome to WeRECRUIT</h2>
                  <p class="sub-heading">
                    WeRecruit is on a mission to build world's most sophisticated
                    ai driven recruitment stack in collaboration with recruiters
                    across the globe.
                  </p>

                </div>
                <div class="has-text-left content-btn" >
                  <button type="button" class="btn btn-outline-light ml-6" onclick="window.location.href='/user/showSignupPage'" >Create new account</a></button>
                  
                </div>
              </div>

            </div>
          </div>
          <div class="column is-half">

            {% set messages = get_flashed_messages(with_categories = true ) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="notification {{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="container has-text-left">
              <form action="/user/doSignin" method="POST">
                <img src="{{url_for('static', filename='images/werecruit_logo.png')}}" alt="Login Logo"> 
                <h2 class="heading-login"><b>Login To Your Account</b></h2>
                <div class="field">
                  <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
                  <div class="control has-icons-left has-icons-right">
                    {{ form.email(class='input', placeholder='Enter email') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label {{theme_text_color}} has-text-left">{{form.password.label}}</label>
                  <div class="control has-icons-left">
                    {{ form.password(class='input', placeholder='Enter password') }}
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-half has-text-left">
                    <div class="field">
                      <p class="control">
                        {{ form.submit( class = 'button is-success') }}
                      </p>
                    </div>
                  </div>
                  
                  <div class = "column is-half is-right mt-4">
                      <p><a href="#">Forgot Password?</a></p>
                  </div>
                 
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}