{%extends "app_header.html" %}
{%block content%}
<div class="add-user">
<section class="container is-fullheight">
  <div class = "block">
    <span class="title has-text-info">Add / Edit User</span><br>
    <span class="is-size-7 has-text-info">This section allows you to add a new user or edit existing user</span>
  </div>

  <div class="columns is-centered">
      <div class="column is-half">
        {% include '/utils/show_msg.html'%}

      <form action = "/user/save" method="POST" enctype="multipart/form-data">
        {% for error in form.submit.errors %}
            <p><large class="has-text-danger">{{ error }}</large></p>  
        {% endfor %}

        {{ form.hidden_tag() }}
        {{form.user_id()}}

        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{ form.name.label }}</label>
          <div class="control">
            {{form.name(class='input', placeholder="Enter Name")}}
            {% for error in form.name.errors %}
              <small class="has-text-danger">{{ error }}</small>  
            {% endfor %}
          </div>
        </div>
        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
          <div class="control">
            {{form.email(class='input', placeholder="Enter Email")}}
            {% for error in form.email.errors %}
              <small class="has-text-danger">{{ error }}</small>  
            {% endfor %}
          </div>
        </div>

        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{form.password.label}}</label>
          <div class="control has-text-left  has-icons-right">
            {{ form.password(class='input', placeholder='Enter Password') }}
            <div class="icon1">
            <span onClick="showPassword('editPassToggle')" >
              <i class="fa fa-eye" id="editPassToggle" ></i>
            </span>
          </div>
          </div>
        </div>

        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{ form.role.label }}</label>
          <div class="select is-fullwidth">
            {{form.role(class='select', placeholder='Enter status')}}
          </div>
        </div>

        <div class="field">
          <p class="control">
            {{ form.submit( class = 'button is-success') }}
          </p>      
          {% for error in form.submit.errors %}
          <p><large class="has-text-danger">{{ error }}</large></p>  
          {% endfor %}
        </div>
                    
      </form>
    </div>
  </div>
  <script>
    function showPassword(inputName) {
      var icon=document.getElementById(inputName);
      switch(inputName){
      
        case "editPassToggle":
          var x = document.getElementById("password1")
      }
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
      icon.classList.toggle("fa-eye-slash")
    }
  </script>
</section>
</div>

{% endblock %}

