{%extends "/app_header.html" %}
{%block content%}

<div class="body-background is-half">
  <div class="job-position">
    <div class="container">
      <section class="section topbar-title">
        <h1 class="title">Manage Users</h1>
        <h2 class="subtitle">
          This section allows tenant administrator to add / delete users to his tenant.
        </h2>
        {% include '/utils/show_timed_msg.html'%}
        <a href="/user/showAddPage"><button class="button is-success" id="add-user-button">Add User</button></a>
      </section>


    </div>
  </div>
  <div class="job-position table-height">
    <div class="container">
      <section class="application-form">
        <div class="table-container">

          <table class="table is-fullwidth">
            {% for user in userList %}
            {%if loop.first %}
            <thead>
              <tr class="header">
                <th style="color: #8c8c8c;">Name<span style="margin-left: 10px;">
                    <form id="sort_name" action="/user/showManageUsersPage" style="display: inline;"
                      onsubmit="onclientSubmit">
                      <input type="hidden" name="order_by" value="name">
                      <input type="hidden" name="order" value="{{toggles.name.orderToggle}}">
                      <!-- {{toggles}} -->
                      <a href="" onclick="sortByName()">
                        <i class="{{toggles.name.arrowToggle}}"></i></a>
                    </form>
                    <script>
                      const onNameSubmit = (e) => {
                        e.preventDefault();

                      }
                      const sortByName = (e) => {
                        document.getElementById("sort_name").submit();
                      }
                    </script>
                  </span>
                </th>
                <th style="color: #8c8c8c;">Email<span style="margin-left: 10px;">
                    <form id="sort_email" action="/user/showManageUsersPage" style="display: inline;"
                      onsubmit="onEmailSubmit">
                      <input type="hidden" name="order_by" value="email">
                      <input type="hidden" name="order" value="{{toggles.email.orderToggle}}">
                      <!-- {{toggles}} -->
                      <a href="" onclick="sortByEmail()">
                        <i class="{{toggles.email.arrowToggle}}"></i></a>
                    </form>
                    <script>
                      const onEmailSubmit = (e) => {
                        e.preventDefault();

                      }
                      const sortByEmail = (e) => {
                        document.getElementById("sort_email").submit();
                      }
                    </script>
                  </span>
                </th>
                <th style="color: #8c8c8c;">Status<span style="margin-left: 10px;">
                    <form id="sort_status" action="/user/showManageUsersPage" style="display: inline;">
                      <input type="hidden" name="order_by" value="status">
                      <input type="hidden" name="order" value="{{toggles.status.orderToggle}}">

                      <script>
                        function sortByStatus() {
                          document.getElementById("sort_status").submit();
                        }
                      </script>
                      <a href="" onclick="sortByStatus()">
                        <i class="{{toggles.status.arrowToggle}}"></i> </a>
                    </form>
                  </span>
                </th>
                <th style="color: #8c8c8c;">Actions</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              <tr class="table-data">
                <td>{{user.name}}</td>

                <td>{{user.email}}</td>
                {% if user.status == 1 %}
                <td>Active</td>
                {% else %}
                <td>Closed</td>
                {% endif %}
                <td>
                  <abbr title="Edit"><i class="fa fa-pencil-square-o"></i></abbr></a>
                  <span style="margin-left: 20px;"><a href=""><abbr title="Delete User"><i class="fa fa-trash"
                          aria-hidden="true"></i>
                      </abbr></a></span>
                </td>
              </tr>
              {% else %}
              <div class="notification is-warning">
                No Users found !!!
              </div>
              {% endfor %}
            </tbody>
          </table>

        </div>

      </section>
    </div>
  </div>


</div>
{% endblock %}