{%extends "/app_header.html" %}
{%block content%}

<section class="container is-fullheight reset-password-container">
  <div class="flash">

    {% set messages = get_flashed_messages(with_categories = true ) %}
          {% if messages %}
            {% for category, message in messages %}
            
              <div class="notification {{ category }} " id="flash-message">{{ message }}</div>
           
            {% endfor %}
          {% endif %}
  </div>
<div class="body-background">
  <div class="columns">
    <div class="column is-two-thirds">
      
        <div class="reset-columns " >
          <div class="reset-head" >
            <span class="title has-text-info">Reset Password</span><br>
            <span class="is-size-7 ">Section allows user to reset his password</span>
          </div>
        <div class="column is-half is-centered">
          
          <form class="inputs" action="/user/doResetPassword" method="POST">
            {{ form.hidden_tag() }}
            {{form.id()}}

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
              <div class="control has-icons-right">
                {{ form.email(class='input', placeholder='Your registered email',readonly=True) }}
                
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{form.current_password.label}}</label>
              <div class="control has-icons-left">
                {{ form.current_password(class='input', placeholder='Enter Current Password') }}
                <span onClick="showPassword('currentPassToggle')"  style="cursor:pointer;">
                  <i class="fa fa-eye" id="currentPassToggle" ></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{form.new_password.label}}</label>
              <div class="control has-icons-left">
                {{ form.new_password(class='input', placeholder='Enter New Password') }}
                <span onClick="showPassword('newPassToggle')"  style="cursor:pointer;">
                  <i class="fa fa-eye"  id="newPassToggle" ></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{form.confirm.label}}</label>
              <div class="control has-icons-left">
                {{ form.confirm(class='input', placeholder='Confirm New Password') }}
                <span onClick="showPassword('confirmPassToggle')" style="cursor:pointer;">
                  <i class="fa fa-eye" id="confirmPassToggle" ></i>
                </span>
              </div>
            </div>

            <div class="field">
              <p class="control-submit">
                {{ form.submit( class = 'button is-success') }}
              </p>
            </div>
          </form>

    
    </div>
  </div>
</div>
  <div class="column is-one-third">
    <div class="job-position ml-7">
      <div class="container">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <label class="label">
                Few guidelines
              </label>
              <ul class="list-unstyled">
                <li>(*) mark is mandatory</li>
                <li>Minimum password length 8 characters</li>
                <li>Password must contain the following categories:</li>
                <ul>
                  <li>English uppercase characters (A-Z)</li>
                  <li>English lowercase characters (a-z)</li>
                  <li>Base digits (0-9)</li>
                  <li>Only one non alphanumeric characters (e.g.,@,%,#,!)</li>
                </ul>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    function showPassword(inputName) {
      var icon=document.getElementById(inputName);
      switch(inputName){
        case "currentPassToggle":
          var x = document.getElementById("current_password");
          break;
        case "newPassToggle":
          var x = document.getElementById("new_password");
          break;
        case "confirmPassToggle":
          var x = document.getElementById("confirm_password");
          break;
      }
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
      icon.classList.toggle("fa-eye-slash")
    }
  </script>
</section>

{% endblock %}