{%extends "/app_header.html" %}
{%block content%}

<section class="container is-fullheight">
    <div class = "block">
        <span class="title has-text-info">Reset Password</span><br>
        <span class="is-size-7 has-text-info">This section allows user to reset his password.</span>
    </div>
      <div class="columns is-centered">
          <div class="column is-half">
              <!--  {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                    <div class="message_flash">{{ message }}</div>
                    {% endfor %}
                </ul>
              {% endif %}
            {% endwith %} -->
            {% set messages = get_flashed_messages(with_categories = true ) %}            
            {% if messages %}    
              {% for category, message in messages %}  
                  <div class="notification {{ category }}">{{ message }}</div>
                {% endfor %}                  
            {% endif %} 
            

          <form action = "/user/doResetPassword" method="POST">
            {{ form.hidden_tag() }}
            {{form.id()}}
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
              <div class="control has-icons-left has-icons-right">
                {{ form.email(class='input', placeholder='Your registered email',readonly=True) }}
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{form.current_password.label}}</label>
              <div class="control has-icons-left">
                {{ form.current_password(class='input', placeholder='Enter current password') }}
                <span class="icon is-small is-left ">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
                <label class="label {{theme_text_color}} has-text-left">{{form.new_password.label}}</label>
                <div class="control has-icons-left">
                  {{ form.new_password(class='input', placeholder='Enter new password') }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>

            <div class="field">
                <label class="label {{theme_text_color}} has-text-left">{{form.confirm.label}}</label>
                <div class="control has-icons-left">
                  {{ form.confirm(class='input', placeholder='Confirm new password') }}
                  
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </div>
              </div>

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success is-rounded') }}
              </p>      
            </div>
          </form>
        </div>
      </div>
</section>

{% endblock %}

