{%extends "/app_header.html" %}
{%block content%}

<section class="container is-fullheight reset-password-container">
  <div style="padding-right:50px ; padding-top:20px">

    {% set messages = get_flashed_messages(with_categories = true ) %}
          {% if messages %}
            {% for category, message in messages %}
            
              <div class="notification {{ category }} " id="flash-message">{{ message }}</div>
           
            {% endfor %}
          {% endif %}
  </div>
  <div class="row " style="position:relative ; padding-top:10px">
        <div class="col-md-6 reset-columns " >
          <div class="pb-3 pt-0 ml-2" >
            <span class="title has-text-info ">Reset Password</span><br>
            <span class="sub-title is-size-7 ">This section allows user to reset his password.</span>
          </div>
          <div class="column is-half is-centered ml-0" >
            
        
        
            <form class="inputs" action="/user/doResetPassword" method="POST">
              {{ form.hidden_tag() }}
              {{form.id()}}
              
              <div class="field ">
                <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
                <div class="control has-icons-left">
                  {{ form.email(class='input', placeholder='Your registered email',readonly=True) }}
                  
                </div>
              </div>
              <div class="field">
                <label class="label {{theme_text_color}} has-text-left">{{form.current_password.label}}</label>
                <div class="control has-icons-left">
                  {{ form.current_password(class='input', placeholder='Enter Current Password') }}
                  <span onClick="showPassword('currentPassToggle')"  style="cursor:pointer;">
                    <i class="material-icons visibility" id="currentPassToggle" >visibility</i>
                  </span>
                </div>
              </div>
        
              <div class="field">
                <label class="label {{theme_text_color}} has-text-left">{{form.new_password.label}}</label>
                <div  class="control has-icons-left">
                  {{ form.new_password(class='input', placeholder='Enter New Password') }}
                  <span onClick="showPassword('newPassToggle')"  style="cursor:pointer;">
                    <i class="material-icons visibility" id="newPassToggle" >visibility</i>
                  </span>
                </div>
              </div>
        
              <div class="field">
                <label class="label {{theme_text_color}} has-text-left">{{form.confirm.label}}</label>
                <div  class="control has-icons-left">
                  
                  {{ form.confirm(class='input', placeholder='Confirm New Password')  }}
                  <span onClick="showPassword('confirmPassToggle')" style="cursor:pointer;">
                    <i class="material-icons visibility" id="confirmPassToggle" >visibility</i>
                  </span>
                  
                </div>
              </div>
        
              <div class="field">
                <p class="control-submit" >
                  {{ form.submit( class = 'button is-success') }}
                </p>
              </div>
            </form>
            
          </div>
        </div>
        <div class="col-md-6" style="height:90px">
          <div class="column">
            <div class="password-reset">
              <div class="container " >
                <div class="card">
                  <div class="card-content">
                    <div class="content">
                      <label class="label" style="font-size: 18px;">
                        Few guidelines
                      </label>
                      <ul class="list-unstyled">
                        <li>Minimum Password Length 12 Characters</li>
                        <li>Password must contain the following categories:</li>
                        <ul>
                          <li>English Upper case characters (A-Z)</li>
                          <li>English Lowercase characters (a-z)</li>
                          <li>Base Digits (0-9)</li>
                          <li>Non Alphanumeric Characters (e.g.,@,%,#,!)</li>
                          <li>(*) mark is mandatory.</li>
                        </ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>



  <script>
    function showPassword(inputName) {
      var icon=document.getElementById(inputName);
      switch(inputName){
        case "currentPassToggle":
          var x = document.getElementById("current_password");
          break;
        case "newPassToggle":
          var x = document.getElementById("new_password");
          break;
        case "confirmPassToggle":
          var x = document.getElementById("confirm_password");
          break;
      }
      if (x.type === "password") {
        x.type = "text";
        icon.classList.remove('visibility');
        icon.classList.add('visibility_off');
        icon.innerHTML='visibility_off';
        
      } else {
        x.type = "password";
        icon.classList.remove('visibility_off');
        icon.classList.add('visibility');
        icon.innerHTML='visibility';
      }
    
      
    }
  </script>




</section>

<!--
<section class="container is-fullheight">
    <div>
      <span class="title has-text-info">Reset Password</span><br>
      <span class="is-size-7 has-text-info">This section allows user to reset his password.</span>
    </div>
  
  
  <div class="reset-columns">
    <div class="column is-half is-centered">
      {% set messages = get_flashed_messages(with_categories = true ) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="notification {{ category }}">{{ message }}</div>
      {% endfor %}
      {% endif %}


      <form action="/user/doResetPassword" method="POST">
        {{ form.hidden_tag() }}
        {{form.id()}}
        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{ form.email.label }}</label>
          <div class="control has-icons-left">
            {{ form.email(class='input', placeholder='Your registered email',readonly=True) }}
            <span>
              <i class="material-icons visibility">visibility</i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{form.current_password.label}}</label>
          <div class="control has-icons-left">
            {{ form.current_password(class='input', placeholder='Enter current password') }}
            <span>
              <i class="material-icons visibility">visibility</i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{form.new_password.label}}</label>
          <div  class="control has-icons-left">
            {{ form.new_password(class='input', placeholder='Enter new password') }}
            <span>
              <i class="material-icons visibility">visibility</i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label {{theme_text_color}} has-text-left">{{form.confirm.label}}</label>
          <div  class="control has-icons-left">
            
            {{ form.confirm(class='input', placeholder='Confirm New Password') }}
            <span>
              <i class="material-icons visibility">visibility</i>
            </span>
            
          </div>
        </div>

        <div class="field">
          <p class="control-submit" >
            {{ form.submit( class = 'button is-success') }}
          </p>
        </div>
      </form>
      
    </div>
  </div>
  <div class="column is-one-third">
    <div class="password-reset">
      <div class="container " >
        <div class="card">
          <div class="card-content">
            <div class="content">
              <label class="label" style="font-size: 18px;">
                Few guidelines
              </label>
              <ul class="list-unstyled">
                <li>Proper formatting of the text/content of the posting with clear spaces and standard bullets (-) to
                  be used.</li>
                <li>No short forms/abbreviations to be used in the text.</li>
                <li>No spelling mistakes in the content.</li>
                <li>JD should be concise and crisp - to the point.</li>
                <li>(*) mark is mandatory.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
{% endblock %}