__pycache__/fileUtils.cpython-38.pyc
__pycache__/ResumeUtils.cpython-38.pyc
*.pyc

venv/
pyvenv.cfg
.env
build/
dist/
flask_session/
src/werecruit/resume_uploads/
src/werecruit/temp/

werecruit.log
werecruit_scheduled_jobs.log
wr_job.log
wr_web.log

