
hr.gn-main {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }

  hr.gn-section {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 0.5px;
    margin: 1.5rem 0;
  }

  hr.gn-section1 {
    background-color: #ffffff;
    border: none;
    display: block;
    height: 0.25px;
    margin: 1.5rem 0;
  }

  .is-wisdom{
    color: #ffe08a !important;
  }

  .is-fullheight {
    min-height: 100vh;
  }

  a.is-link{
    border-color: transparent;
    color: #fff;    
  }
  a.is-link:hover, .a.is-link.is-hovered {
    border-color: transparent;
    color: #fff;
  }