
hr.gn-main {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 1px;
    margin: 1.5rem 0;
  }

  hr.gn-section {
    background-color: #00d1b2;
    border: none;
    display: block;
    height: 0.5px;
    margin: 1.5rem 0;
  }

  hr.gn-section1 {
    background-color: #ffffff;
    border: none;
    display: block;
    height: 0.25px;
    margin: 1.5rem 0;
  }

  .is-wisdom{
    color: #ffe08a !important;
  }

  .is-fullheight {
    min-height: 100vh;
  }

  a.is-link{
    border-color: transparent;
    color: #fff;    
  }
  a.is-link:hover, .a.is-link.is-hovered {
    border-color: transparent;
    color: rgb(255, 255, 255);
  }

  /*as received from codelan */
  
  @font-face{
    font-family: 'medium';
    src: url(Poppins-Medium.ttf) format("truetype");
  }
  
  @font-face{
    font-family: 'regular';
    src: url(Poppins-Regular.ttf) format("truetype");
  }
  
  @font-face{
    font-family: 'semi-bold';
    src: url(Poppins-SemiBold.ttf) format("truetype");
  }
  
  body,
  h2, 
  .heading,
  .label
  .{
    font-family: 'medium', sans-serif;
  }
  
   .heading-login{
    font-family: 'semi-bold', sans-serif;
   }
  
  button,
  input,
  .sub-heading{
    font-family: 'regular', sans-serif;
  }
  
  .heading{
    font-size: 14px;
    margin-top: 40px;
  }
  
  .sub-heading{
    font-size: 12px;
    margin-top: 20px;
  }
  
  .heading-link{
    font-size: 14px;
    margin-top: 30px;
  }
  
  .heading-login{
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .card-content{
    margin-left: 10px;
    font-size: 16px;
  }
  
  .heading-link a{
    color: white;
  }
  
   a{
    color: black;
  }
  
  .heading-login{
    font-size: 20px;
    font-style: bold;
  }
  
  input{
    font-size: 14px;
  }
  
  .button.is-success {
    background-color: #4ccd3d;
    border-color: transparent;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  @media screen and (min-width: 1024px) {
  
  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 70%;   /*width: auto;*/
  }  
  
  .column .container{
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 75%;   /*width: auto;*/
  } 
  
  .field .control input{
    width: 90%;
  }
  
  .heading {
    text-transform: none;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  
  .box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 2.25rem;
    max-width: 1100px;
    margin-left: 190px;
    max-width: 70%;
  }
  
  .card {
    background-color: transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);*/
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border: none;
    box-shadow: none;
  }
  
  
  .card-image {
    display: block;
    position: relative;
    max-height: 100px;
    max-width: 400px;
    margin-left: 10px;
  }
  
  .card-image:first-child img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-left: 40px;
    height: 550px;
    margin-top: -78px;
  }
  
  .card-content{
    margin-left: 50px;
  }
  
  .card-content .heading{
    font-size: 26px;
    margin-top: 120px;
  }
  
  .card-content .sub-heading{
    font-size: 14px;
    margin-top: 20px;
  }
  
  .heading-login{
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  input{
    font-size: 14px;
  }
  
  .heading-link{
    font-size: 14px;
    margin-top: 150px;
  }
  
  .is-right{
    margin-top: 25px;
    font-size: 14px;
  }
  
  .label{
    font-size: 14px;
  }
  
  
  button{
    font-size: 14px;
  }
  
  }