@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Poppins:wght@100;300;400;500&display=swap');
@font-face {
  font-family: 'poppins-medium';
  src: url(fonts/Poppins-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'regular';
  src: url(fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'semi-bold';
  src: url(fonts/Poppins-SemiBold.ttf) format("truetype");
}

body,
h2,
.heading,
.label,
.navbar-link,
.form-group .field .section-title .label,
.header th {
  font-family: 'Poppins', sans-serif;
}

.form-group .field .label,
.heading-login {
  font-family: 'semi-bold', sans-serif;
}

button,
input,
.sub-heading,
.topbar-title .subtitle,
.form-group .field .control input,
.list-unstyled,
.container .topbar-title .title,
.job-position .container .card .card-content .content .label,
textarea,
.file,
.select.is-black select,
.header th {
  font-family: 'regular', sans-serif;
}

.heading {
  font-size: 14px;
  margin-top: 40px;
}

.sub-heading {
  font-size: 12px;
  margin-top: 20px;
}

.heading-link {
  font-size: 14px;
  margin-top: 30px;
}

.heading-login {
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-content {
  margin-left: 10px;
  font-size: 16px;
}

.heading-link a {
  color: white;
}

a {
  color: black;
}

.heading-login {
  font-size: 20px;
  font-style: bold;
}

input,
textarea {
  font-size: 14px;
}

.button.is-success {
  background-color: #4ccd3d;
  border-color: transparent;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar.has-shadow {
  box-shadow: 0 3px 0 0 whitesmoke;
}

.navbar-link {
  font-size: 14px;
}

/* reset password changes*/

.column.is-half.is-centered {
  padding: inherit;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  flex-direction: column-reverse;
  
}
/* .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative; 
  width: 0px;
  padding-left: 15px;
  /* padding-right: 15px; */
  
.container-release{
  background-color:rgb(244, 243, 243);
}

.field .label .control .input{
  text-align: left !important;
  padding-left: 0px;
  
}

.label:not(:last-child) {
  margin-bottom: 0px !important;
}

/* .has-text-white {
  line-height: 1.3;
} */
.reset-form .field .control .input{
  padding-left: 10px;
}

.container .row .inputs{
  width:100%;
  margin-bottom: 0%;
}
.row .reset-columns .sub-title{
  color: #2b2b2b;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 98vw;
  padding-right: 15px;
  padding-left: 15px;
}
/*release history changes*/
.card .card-header .card-body{
  display: flex;
  
  padding-left: 20px;
}
.card-body {
  padding: 2%;
}
#scroll {
  overflow-y: auto !important;
}
/*new changes*/
.form-group .field .control input {
  font-size: 16px;
  border-color: #c6c6c6;
}

.select,
.select select {
  width: 100%;
}

.input,
.textarea,
.select select {
  background-color: white;
  border-color: #c6c6c6;
  border-radius: 4px;
  color: #363636;
}

.select.is-black select {
  border-color: #c6c6c6;
  font-size: 16px;
}

select::-ms-expand {
  border-color: #c6c6c6;
}


hr {
  background-color: #c6c6c6;
  border: none;
  display: block;
  height: 0.5px;
  margin: 1.5rem 0;
}

.job-position {
  padding: 1rem 0.5rem;
}
.reset-password-container{
  padding : 0rem;
}

.password-reset {
  padding-top: 50px;
}
/*reset password form*/

.reset-columns .field .control .input{
  position: relative;
  text-align: left;
  border: 0;
  margin-top: 0px;
  outline: none;
  padding-left: 10px;
  
} 
#flash-message{
  position: relative;
  /* width: -webkit-fit-content;
  width: -moz-fit-content; */
  width: fit-content;
  text-align: left;

  
}
.reset-columns .field .control{
  
  display: flex;
  align-items: center;
  border: 1px solid black ; 
  border-radius: 3px;
  width: 100%;
}

.control .has-icons-left{
  padding-right: 50px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

label{
  
  margin-bottom: 0px;
}
.reset-columns i {
  margin: 0 10px;
  color: #aaa;
}
.column .password_criteria{
  padding-left: 30px;
}

.job-position .container .card {
  background-color: #d1efd8;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border: none;
  box-shadow: none;
  margin-top: 19px;
}
.password-reset .container .card {
  background-color: #d1efd8;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border: none;
  box-shadow: none;
  /* margin-top: 19px; */
}
.job-position .container .card .card-content {
  margin-left: 0px;
}

.password-reset .container .card .card-content {
  margin-left: 0px;
}
.field .section-title .label {
  font-size: 18px;
  font-style: none;
}

.topbar-title .title {
  font-size: 20px;
  color: #4ccd3d;
  font-style: none;
  text-decoration: none;
  margin-bottom: 30px;
}

.topbar-title .subtitle {
  font-size: 14px;
  color: #2b2b2b;
}

.application-form {
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

.body-background {
  background-color: #f6f6f6;
}

.has-shadow {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.has-shadow:before,
.has-shadow:after {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 99%;
  bottom: 0;
  left: 0px;
  right: 0px;
  border-radius: 0px;
  background-color: white;
}

.file {
  font-size: 14px;
  /* background-color: whitesmoke; */
  border: #c6c6c6;
}


td,
th {
  margin-right: 200px;
}

thead tr {
  background-color: #fafafa;
}

table thead tr th {
  color: #8c8c8c;
}

.header th {
  font-size: 12px;
}

.table-data td {
  font-size: 14px;
}


.table-height {
  margin-top: -60px;
}
/* new changes 18 april*/
.column .job-position {
<<<<<<< HEAD
  
  padding-right: 40px;
}

.column .password-reset {
  margin-left: 0px;
  
}
.has-text-left .btn{
  outline-color: #fff !important;
=======
  /* margin-left:auto; */
>>>>>>> 3532790c27852633764fa6af01a4fe3354f25a6a
}

@media screen and (min-width: 1024px) {

.section{
  margin-left: -5px;
}
  .job-position .container .section {
    padding: 2rem 0.5rem;
  }

  .job-position .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    /*width: auto;*/
  }

/* new changes 18 april */
  .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 70%;
    /*width: auto;*/
  }
  .section .container is-fullheight{
    margin-left: 15%;
  }


  .column .container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: 75%; 
    /*width: auto;*/
  }

  .field .half .control input {
    width: 66%;
  }

  /* .field .control input {
    width: 100%;
  } */

  .half .control select {
    width: 66%;
  }

  .heading {
    text-transform: none;
    font-size: 26px;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }

  .box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 2.25rem;
    max-width: 1100px;
    margin-left: 190px;
    max-width: 70%;
  }

  .card {
    background-color: transparent;
    border-radius: 0.25rem;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border: none;
    box-shadow: none;
  }


  .card-image {
    display: block;
    position: relative;
    max-height: 100px;
    max-width: 400px;
    margin-left: 10px;
  }

  .card-image:first-child img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-left: 40px;
    height: 550px;
    margin-top: -78px;
  }

  .card-content {
    margin-left: 50px;
  }

  .card-content .heading {
    font-size: 26px;
    margin-top: 120px;
  }

  .card-content .sub-heading {
    font-size: 14px;
    margin-top: 20px;
  }

  .heading-login {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
  }

  input {
    font-size: 14px;
  }

  .heading-link {
    font-size: 14px;
    margin-top: 150px;
  }

  .is-right {
    margin-top: 25px;
    font-size: 14px;
  }

  .label {
    font-size: 14px;
  }


  button {
    font-size: 14px;
  }


  /* new screen */

  .job-position {
    padding: 2rem 0.5rem;
  }

  .job-position .container .card {
    background-color: #d1efd8;
    color: #4a4a4a;
    max-width: 100%;
    position: relative;
    border: none;
    box-shadow: none;
  }

  .job-position .container .card .card-content {
    margin-left: 0px;
  }

  .form-group .field .label {
    font-size: 14px;
  }

  .field .section-title .label {
    font-size: 18px;
    font-style: none;
    color: #2b2b2b;
  }

  .topbar-title .title {
    font-size: 28px;
    color: #4ccd3d;
    margin-bottom: 30px;
  }

  .topbar-title .subtitle {
    font-size: 14px;
    color: #2b2b2b;
  }

  .application-form {
    margin-top: 1px;
  }

  .list-unstyled {
    font-size: 14px;
  }
}

/* button changes */
.control .button.is-success{
  width: max-content;
}

label{
  font-size: 15px;
}
.column.is-half{
  margin-right: 20%;
  margin-top: -1%;
  margin-left: -10%;
  
}
.block:not(:last-child){
  margin-left: -10%;
  margin-top: 3%;
}