Dear User,

Resume(s) you sent as attachments has been successfully updated. Unique ID assigned to this resume is {{resumeID}}.
You can go through the uploaded resumes by using Resume Browser.

Thanks,
WeRecruit Team