<script>
  const tikBoxClient = document.createElement('div')
  tikBoxClient.classList.add('has-text-right')
  tikBoxClient.classList.add('card-check-img')
  const imgClient = document.createElement('img');
  imgClient.src = "static/images/check-2.png";
  imgClient.classList.add('margin-top-10');
  tikBoxClient.appendChild(imgClient);

  const tikBoxJD = document.createElement('div')
  tikBoxJD.classList.add('has-text-right')
  tikBoxJD.classList.add('card-check-img')
  const imgJD = document.createElement('img');
  imgJD.src = "static/images/check-2.png";
  imgJD.classList.add('margin-top-10');
  tikBoxJD.appendChild(imgJD);
</script>
<!-- <turbo-frame id="clientframe"> -->
<section class="section topbar-title">
  <h1 class="title">Department/Client</h1>
</section>
<div class="client-name">
  <div id="client-corousel" class="columns carousel">
    {% for client in clients %}
    <div class="column" style="max-width: 20rem; margin-bottom: 20px;">
      <div class="card">
        <a href="/showDashboardPage?client={{client.client_id}}" data-turbo-frame="jobsframe">
          <div
            class="card-content white-background card-height-120 clientCard {{'card-active' if client.client_id == activeClient else ''}}"
            id="client-{{client.client_id}}">
            {% if client.client_id == activeClient %}
            <div class="has-text-right card-check-img">
              <img class="margin-top-10" src="static/images/check-2.png" />
            </div>
            {% endif %}
            <p class="card-text">{{client.client_name}}</p>
            {# <img src="static/images/loadshare.png" /> #}
          </div>
      </div>
      </a>

    </div>
    {% else %}
    <div class="column">
      <div class="notification is-warning">No clients found !!!</div>
    </div>

    {% endfor %}
  </div>
</div>
<!-- <turbo-frame> -->

<turbo-frame id="jobsframe">
  <div class="candidate-funnel">
    <script>
      // alert('setting active client')
      document.querySelectorAll(".clientCard").forEach(element => {
        element.classList.remove('card-active');
        if (element.children.length > 1)
          element.firstChild.remove();
      });
      document.getElementById("client-{{activeClient}}").classList.add('card-active');
      if (document.getElementById("client-{{activeClient}}").children.length === 1) {
        document.getElementById("client-{{activeClient}}").prepend(tikBoxClient);
      }
    </script>
    <section class="section topbar-title">
      <h1 class="title">Candidate Funnel</h1>
    </section>
    <div id="jobs-corousel" class="columns carousel">
      {% for jd in jdList %}
      <div class="column" style="max-width: 20rem; margin-bottom: 20px;">
        <div class="card">
          <a href="/showDashboardPage?client={{activeClient}}&jd_id={{jd.id}}" data-turbo-frame="summary_frame">
            <div
              class="card-content white-background card-height-100 job-title-card {{'card-active' if jd.id == activeJD}}"
              id="activeJD-{{jd.id}}">
              {% if jd.id == activeJD %}
              <div class="has-text-right card-check-img">
                <img class="margin-top-10" src="static/images/check-2.png" />
              </div>
              {% endif %}
              <p class="card-text">{{jd.title}}</p>
            </div>
        </div>
        </a>

      </div>
      {% else %}
      <div class="column">
        <div class="notification is-warning">No jobs found !!!</div>
      </div>
      {% endfor %}
    </div>
    {#
  </div>
  #}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
  <script>
    bulmaCarousel.attach('#client-corousel', {
      slidesToScroll: 1,
      slidesToShow: 4
    });
    bulmaCarousel.attach('#jobs-corousel', {
      slidesToScroll: 1,
      slidesToShow: 4
    });
  </script>
</turbo-frame>
<turbo-frame id="summary_frame">
  <section class="application-form margin-top-bottom-30">
    <script>
      // alert('setting active JD')
      // alert('{{activeClient}}')
      document.querySelectorAll(".job-title-card").forEach(element => {
        element.classList.remove('card-active');
        if (element.children.length > 1)
          element.firstChild.remove();
      });
      document.getElementById("activeJD-{{activeJD}}").classList.add('card-active');
      if (document.getElementById("activeJD-{{activeJD}}").children.length === 1) {
        document.getElementById("activeJD-{{activeJD}}").prepend(tikBoxJD);
      }

    </script>
    <div class="table">
      <table class="table is-fullwidth">
        <thead>
          <tr class="header-home" style="border-bottom: 0px">
            
            {% with phase='Resume  Shortlisted'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='Initial  Screening'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='Round 1'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='Round 2'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='Hiring Manager'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='HR'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            
            {% with phase='Offer'%}
            {% include "dashboard/title_card.html" %}
            {% endwith %}
            <th>
              <div class="margin-left-15px" style="margin-top: 0.6rem">Onboarding</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-summary" style="padding-bottom: 20px; margin-top: 30px">
            <td class="td-margin">
              <p style="font-size: 56px">{{job_summary.shortlisted}}</p>
            </td>
            <td>      
              {% with name='Scheduled', value=job_summary.initial_screening_interviews_scheduled%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>   
              {% with name='Cleared', value=job_summary.initial_screening_interviews_cleared%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>
              {% with name='Failed', value=job_summary.initial_screening_interviews_rejected%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>     
              {% with name='Scheduled', value=job_summary.r1_interview_scheduled%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              </div>
              <div class="line"></div>          
              {% with name='Rejected', value=job_summary.r1_interview_failed%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>
              {% with name='Passed', value=job_summary.r1_interview_cleared%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              </div>
              <div class="line"></div>             
              {% with name='No Show', value=job_summary.r1_interview_no_show, category='no-show'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>              
              {% with name='Scheduled', value=job_summary.r2_interview_scheduled%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='Rejected', value=job_summary.r2_interview_failed%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>          
              {% with name='Passed', value=job_summary.r2_interview_cleared%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='No Show', value=job_summary.r2_interview_no_show, category='no-show'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>              
              {% with name='Scheduled', value=job_summary.hm_interview_scheduled%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='Rejected', value=job_summary.hm_interview_failed%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>              
              {% with name='Passed', value=job_summary.hm_interview_cleared%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>              
              {% with name='No Show', value=job_summary.hm_interview_no_show, category='no-show'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>             
              {% with name='Scheduled', value=job_summary.hr_interview_scheduled%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='Rejected', value=job_summary.hr_interview_failed%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='Passed', value=job_summary.hr_interview_cleared%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='No Show', value=job_summary.hr_interview_no_show, category='no-show'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>             
              {% with name='Pending (HR)', value=job_summary.offer_pending%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>
              {% with name='Released', value=job_summary.offer_released%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>
              {% with name='Accepted', value=job_summary.offer_accepted , category='accepted'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
            <td>              
              {% with name='Done', value=job_summary.joined, category='done'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
              <div class="line"></div>             
              {% with name='No Show', value=job_summary.no_show, category='no-show'%}
              {% include "dashboard/data_card.html" %}
              {% endwith %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>