<section class="section topbar-title">
  <h1 class="title">Client Name</h1>
</section>
<div class="client-name">
  <div id="client-corousel" class="columns carousel">
    {% for client in clients %}
    <div class="column clientCard {{'active' if client.client_id == activeClient else 'false'}}"
      id="{{client.client_id}}" style="max-width: 20rem;">
      <div class="card">
        <div class="card-content white-background card-height-120">
          <a href="/showDashboardPage?client={{client.client_id}}" >
            <!-- data-turbo-frame="" -->
            <p>{{client.client_name}}</p>
          </a>
          {# <img src="static/images/loadshare.png" /> #}
        </div>
      </div>
    </div>
    {% else %}
    <div class="column notification is-warning">No clients found !!!</div>
    {% endfor %}  
  </div>
</div>
<turbo-frame id="jobsframe">
<section class="section topbar-title">
  <h1 class="title">Candidate Funnel</h1>
</section>
<div class="candidate-funnel">

  <div id="jobs-corousel" class="columns carousel">
    {% for jd in jdList %}
    <div class="column" style="max-width: 20rem;">
      <div class="card">
        <div class="card-content white-background card-height-100 job-title-card {{'card-active' if jd.id == activeJD}}"
          id="jobCard-{{jd.title}}">
          {% if jd.id == activeJD %}
          <div class="has-text-right card-check-img">
            <img class="margin-top-10" src="static/images/check-2.png" />
          </div>
          {% endif %}
          <a href="/showDashboardPage?client={{activeClient}}&jd_id={{jd.id}}">
            <p class="card-text">{{jd.title}}</p>
          </a>
        </div>
      </div>
    </div>
    {% else %}
    <div class="column">
      <div class="card notification is-warning">No jobs found !!!</div>
    </div>
    {% endfor %}
  </div>
  {#
</div>
#}
</div>
<section class="application-form margin-top-bottom-30">
  <div class="table">
    <table class="table is-fullwidth">
      <thead>
        <tr class="header-home" style="border-bottom: 0px">
          <th>
            <div class="columns">
              <div class="column has-text-center margin-left-20px">
                Resume <br />
                Shortlisted
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-center margin-left-20px">
                Initial <br />
                Screening
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-center margin-left-top-15px">
                Round 1
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-left margin-left-top-15px">
                Round 2
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-left margin-left-20px">
                Hiring <br />
                Manager
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-left margin-left-top-15px">HR</div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="columns">
              <div class="column has-text-left margin-left-top-15px">
                Offer
              </div>
              <div class="has-text-right">
                <i class="arrow right"></i>
              </div>
            </div>
          </th>
          <th>
            <div class="margin-left-top-15px">Onboarding</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-summary" style="padding-bottom: 20px; margin-top: 30px">
          <td class="td-margin">
            <p style="font-size: 56px">{{job_summary.shortlisted}}</p>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Scheduled -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r1_interview_scheduled }}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Cleared -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r1_interview_cleared}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Failed -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r1_interview_failed}}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Scheduled -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r2_interview_scheduled}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Rejected -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r1_interview_failed}}
                </div>
              </div>
            </div>
            <div class="line"></div>

            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Passed -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r1_interview_cleared}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="no-show">No Show -</div>
              </div>
              <div class="column">
                <div class="has-text-right no-show">
                  {{job_summary.r1_interview_no_show}}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Scheduled -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r2_interview_scheduled}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Rejected -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r2_interview_failed}}
                </div>
              </div>
            </div>
            <div class="line"></div>

            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Passed -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.r2_interview_cleared}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="no-show">No Show -</div>
              </div>
              <div class="column">
                <div class="has-text-right no-show">
                  {{job_summary.r2_interview_no_show}}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Scheduled -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hm_interview_scheduled}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Rejected -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hm_interview_failed}}
                </div>
              </div>
            </div>
            <div class="line"></div>

            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Passed -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hm_interview_cleared}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="no-show">No Show -</div>
              </div>
              <div class="column">
                <div class="has-text-right no-show">
                  {{job_summary.hm_interview_no_show}}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Scheduled -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hr_interview_scheduled}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Rejected -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hr_interview_failed}}
                </div>
              </div>
            </div>
            <div class="line"></div>

            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Passed -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.hr_interview_cleared}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="no-show">No Show -</div>
              </div>
              <div class="column">
                <div class="has-text-right no-show">
                  {{job_summary.hr_interview_no_show}}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters">
                <div>Pending (HR) -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.offer_pending}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div>Released -</div>
              </div>
              <div class="column">
                <div class="has-text-right">
                  {{job_summary.offer_released}}
                </div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="accepted">Accepted -</div>
              </div>
              <div class="column">
                <div class="has-text-right accepted">
                  {{job_summary.offer_accepted}}
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="columns margin-bottom-0">
              <div class="column is-three-quarters done">
                <div>Done -</div>
              </div>
              <div class="column">
                <div class="has-text-right done">{{job_summary.joined}}</div>
              </div>
            </div>
            <div class="line"></div>
            <div class="columns margin-bottom-top-0">
              <div class="column is-three-quarters">
                <div class="no-show">No Show -</div>
              </div>
              <div class="column">
                <div class="has-text-right no-show">
                  {{job_summary.no_show}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
</turbo-frame>