<section class="section topbar-title">
  <h1 class="title">Scheduled</h1>
</section>
<div class="scheduled">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Scheduled Interview</p>
        </header>
        <div class="card-content white-background">
          <div class="content has-text-right">
            <select>
              <option>Today</option>
              <option>Next 7 days</option>
              <option>Next 30 days</option>
            </select>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">Scheduled Joining</p>
        </header>
        <div class="card-content white-background">
          <div class="content has-text-right">
            <select>
              <option>Today</option>
              <option>Next 7 days</option>
              <option>Next 30 days</option>
            </select>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="has-text-left">
                <p>
                  name of candidate<br /><span class="light-gray-color"
                    >DD/MMM/YYYY</span
                  >
                </p>
              </div>
            </div>
            <div class="column">
              <div class="has-text-right">
                <p class="light-gray-color">Time</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
