<section class="section topbar-title">
  <h1 class="title">Pending Actions</h1>
</section>
<div class="pending-action">
  <div class="columns">
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-content white-background">
          <div class="columns">
            <div class="column is-half">
              <div class="content has-text-left">
                <img src="static/images/analyst.png" />
              </div>
            </div>
            <div class="column is-half">
              <div class="content has-text-center">
                <p>
                  Client<br /><span class="font-40 font-color-orange">0</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-content white-background">
          <div class="columns">
            <div class="column is-half">
              <div class="content has-text-left">
                <img src="static/images/support.png" />
              </div>
            </div>
            <div class="column is-half">
              <div class="content has-text-center">
                <p>
                  Recruitor<br /><span class="font-40 font-color-blue">0</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-content white-background">
          <div class="columns">
            <div class="column is-half">
              <div class="content has-text-left">
                <img src="static/images/cv.png" />
              </div>
            </div>
            <div class="column is-half">
              <div class="content has-text-center">
                <p>
                  Candidate<br /><span class="font-40 font-color-pink">0</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
