{%extends "app_header.html" %}
{%block content%}

<section class="hero is-fullheight">

  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
          <div class="column is-half">
            {% set messages = get_flashed_messages() %}
            {% if messages %}   
                  <div class="notification is-danger">  
                
                    {% if messages %}  
                          {% for message in messages %}  
                                <p> {{ message }}</p>  
                          {% endfor %}  
                    {% endif %}  
              
                </div>        
            {% endif %}  
          <form action = "/jd/create" method="POST">
            {{ form.hidden_tag() }}
            {{form.id()}}
            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.title.label }}</label>
              <div class="control has-icons-left has-icons-right">
                {{form.title(class='input', placeholder='Enter Title')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.details.label }}</label>
              <div class="control">
                {{form.details(class='textarea', placeholder='Enter Title')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.client.label }}</label>
              <div class="control has-icons-left has-icons-right">
                {{form.client(class='input', placeholder='Enter Client Name')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.hiring_mgr_name.label }}</label>
              <div class="control has-icons-left has-icons-right">
                {{form.hiring_mgr_name(class='input', placeholder='Hiring Manager Name')}}
              </div>
            </div>            
            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.hiring_mgr_email.label }}</label>
              <div class="control has-icons-left has-icons-right">
                {{form.hiring_mgr_email(class='input', placeholder='Hiring Manager EMail')}}
              </div>
            </div> 
            {% include 'jd/team.html'%}

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success is-rounded') }}  

              </p>      
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

