{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">

  <div class="box is-size-6 has-background-dark has-text-light"> This page allows you to create a new Job Req or edit an existing one.</div>

      <div class="columns is-centered">
          <div class="column is-half">
            {% set messages = get_flashed_messages() %}
            {% if messages %}   
                  <div class="notification is-danger">  
                
                    {% if messages %}  
                          {% for message in messages %}  
                                <p> {{ message }}</p>  
                          {% endfor %}  
                    {% endif %}  
              
                </div>        
            {% endif %}  
          <form action = "/jd/save" method="POST">
            {{ form.hidden_tag() }}
            {{form.id()}}
            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.title.label }}</label>
              <div class="control">
                {{form.title(class='input', placeholder='Enter Title')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.details.label }}</label>
              <div class="control">
                {{form.details(class='textarea', placeholder='Enter Title')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.client.label }}</label>
              <div class="control">
                {{form.client(class='input', placeholder='Enter Client Name')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.status.label }}</label>
              <div class="select is-fullwidth">
                {{form.status(class='select', placeholder='Enter status')}}
              </div>
            </div>

            <div class="field">
              <label class="label has-text-light has-text-left">{{ form.total_positions.label }}</label>
              <div class="control">
                {{form.total_positions(class='input', placeholder='Enter total number of positions.')}}
              </div>
            </div>

      
            {% include 'jd/team.html'%}

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success is-rounded') }}  

              </p>      
            </div>
          </form>
        </div>
      </div>
</section>

{% endblock %}

