{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">
  <div class = "block">
    <span class="title has-text-info">Create/Edit Job Posting</span><br>
    <span class="is-size-7 has-text-info">This section allows you to create or edit a job posting.</span>
  </div>

      <div class="columns is-centered">
          <div class="column is-half">
            {% set messages = get_flashed_messages() %}
            {% if messages %}   
                  <div class="notification is-danger">  
                
                    {% if messages %}  
                          {% for message in messages %}  
                                <p> {{ message }}</p>  
                          {% endfor %}  
                    {% endif %}  
              
                </div>        
            {% endif %}  
          <form action = "/jd/save" method="POST">
            {{ form.hidden_tag() }}
            {{form.id()}}
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.title.label }}</label>
              <div class="control">
                {{form.title(class='input', title ="Enter short & meaning title for this job posting" , placeholder='Enter Title')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.details.label }}</label>
              <div class="control">
                {{form.details(class='textarea', title ="Enter job details like primary skill, location, years of experience.",placeholder='Enter details')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.client.label }}</label>
              <div class="control">
                {{form.client(class='input', placeholder='Enter Client Name')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.location.label }}</label>
              <div class="control">
                {{form.location(class='input', placeholder='Enter the job location.')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.total_positions.label }}</label>
              <div class="control">
                {{form.total_positions(class='input', placeholder='Enter total number of positions.')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.status.label }}</label>
              <div class="select is-fullwidth">
                {{form.status(class='select', placeholder='Enter status')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.yrs_of_exp.label }}</label>
              <div class="control">
                {{form.yrs_of_exp(class='input', placeholder='Enter minimum years of experience')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.primary_skills.label }}</label>
              <div class="control">
                {{form.primary_skills(class='textarea', title ="Enter mandatory or must have skillsets.",placeholder='Enter primary skillsets required for the job.')}}
              </div>
            </div>

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.secondary_skills.label }}</label>
              <div class="control">
                {{form.secondary_skills(class='textarea', title ="Enter mandatory or good to have skillsets.",placeholder='Enter secondary skillsets required for the job.')}}
              </div>
            </div>

            <table class="table is-bordered is-narrow">
              <caption class="{{theme_text_color}} is-uppercase">about CTC</caption>
              <tbody>
                  <thead>
                    <tr class="{{theme_bg_color}}">
                      <th class="has-text-centered {{theme_text_color}}">Min</th>
                      <th class="has-text-centered {{theme_text_color}}">Max</th>
                      <th class="has-text-centered {{theme_text_color}}">Currency</th>
                    </tr>
                  </thead>
                <tr class="has-background-light">
                  <td class="has-text-centered has-text-dark"><div class="control">
                        {{form.ctc_min(class='input', placeholder='Enter minimum CTC')}}
                        </div>
                  </td> 
                  <td class="has-text-centered has-text-dark"><div class="control">
                    {{form.ctc_max(class='input', placeholder='Enter maximum CTC')}}
                    </div>
                  </td>
                  <td class="has-text-centered has-text-dark">
                    <div class="select is-fullwidth">
                      {{form.ctc_currency(class='select', placeholder='Select currency')}}
                    </div>
                  </td> 
                </tr>
            </tbody>
            </table>

            {% include 'jd/team.html'%}

            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.fees_percent.label }}</label>
              <div class="control">
                {{form.fees_percent(class='input', placeholder='Enter fees percent being charged for this job position.')}}
              </div>
            </div>
            <div class="field">
              <label class="label {{theme_text_color}} has-text-left">{{ form.warranty_in_months.label }}</label>
              <div class="control">
                {{form.warranty_in_months(class='input', placeholder='Enter warranty in months')}}
              </div>
            </div>

            <div class="field">
              <p class="control">
                {{ form.submit( class = 'button is-success is-rounded') }}  

              </p>      
            </div>
          </form>
        </div>
      </div>
</section>

{% endblock %}

