<div class = "block has-text-left">
  <span class="title is-size-4 has-text-info">Job Description Details</span>
</div>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Title</p>
      <p class="{{theme_text_color}}">{{jd.title}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Client</p>
      <p class="{{theme_text_color}}">{{jd.client}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
      <div>
        <p class="heading">Open Date</p>
        <p class="{{theme_text_color}}">{{jd.open_date.strftime('%Y-%m-%d %H:%M')}}</p>
      </div>
  </div>
  <div class="level-item has-text-centered">
      <div>
        <p class="heading">Status</p>
        <p class="{{theme_text_color}}">{{jd.status}}</p>
      </div>
  </div>
</nav>

<hr class="gn-section1">