<div class="job-details pt-5 ">
  <div class = "block-title has-text-left ml-4">
    <span class="title is-size-3 ">Job Description Details</span>
  </div>
</div>
<div class="jd-details pb-3" style="background-color:#4ccd3d">
  <nav class="level">
    <div class="level-item" >
      <div>
        <p class="heading is-size-7">Title</p>
        <p class="sub-head is-size-4">{{jd.title}}</p>
      </div>
    </div>
    <div class="level-item">
      <div>
        <p class="heading is-size-7">Client</p>
        <p class="sub-head is-size-4">{{jd.client}}</p>
      </div>
    </div>
    <div class="level-item">
        <div>
          <p class="heading is-size-7">Open Date</p>
          <p class="sub-head is-size-5">{{jd.open_date.strftime('%Y-%B-%d ')}}</p>
        </div>
    </div>
    <div class="level-item" >
      {% if jd.status == 0 %}
        <div>
          <p class="heading is-size-7">Status</p>
          <p class="sub-head is-size-4" value="status">Open</p>
        </div>
      {% endif %}
      {% if jd.status == 1 %}
        <div>
          <p class="heading is-size-7">Status</p>
          <p class="sub-head is-size-4" value="status">Draft</p>
        </div>
      {% endif %}
      {% if jd.status == 2 %}
        <div>
          <p class="heading is-size-7">Status</p>
          <p class="sub-head is-size-4" value="status">Closed</p>
        </div>
      {% endif %}
    </div>
  </nav>
</div>
