<div class="card">

    <div class="card-content {{theme_bg_color}}">
        <header class="card-header">
            <p class="card-header-title {{theme_text_color}}">
              Today's Interviews
            </p>
        </header>  
      <div class="content {{theme_text_color}}">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
      </div>
    </div>
</div>