{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">

    {% include 'jd/header1.html'%}
    <div class="tile is-ancestor">
        <div class="tile is-child  box has-background-dark">
          <!-- Add content or other tiles -->
          {% include 'resume/summary.html' %}
        </div>
        <div class="tile is-child box has-background-dark">
          <div class = "block">
            <span class="title is-size-4 has-text-info">Status Update</span>
            
            <form action = "/jd/applicationStatusUpdate" method="POST">
                {{ form.hidden_tag() }}

                {{form.job_id()}}
                {{form.resume_id()}}
    
                <div class="field ">
                  <label class="label has-text-light">{{ form.new_status.label }}</label>
                  <div class="select">
                    {{form.new_status(class='select', placeholder='Select status')}}
                  </div>
                </div>

                <div class="field">
                    <label class="label has-text-light">{{ form.notes.label }}</label>
                    <div class="control">
                      {{form.notes(class='textarea', placeholder='Please enter your notes about status change.')}}
                    </div>
                  </div>

                <div class="field">
                  <p class="control">
                    {{ form.submit( class = 'button is-success is-rounded') }}    
                  </p>      
                </div>
              </form>
    
          </div>
        </div>
        <div class="tile is-child box has-background-dark">
          <div class="tabs">
            <ul>
              <li class="is-active"><a>Status History</a></li>
              <li><a>Notes History</a></li>
            </ul>
          </div>        
        </div>
    </div>




</section>

{% endblock %}

