{%extends "app_header.html" %}
{%block content%}

<div id= "modal-window"  class="modal is-active">
  <div class="modal-background"></div>
    <div class="modal-card">

          <div class = "modal-card-body">
            <span class="title is-size-4 has-text-info">Status Update</span>
            
            <form action = "/jd/updateJobApplicationStatus" method="POST">
                {{ form.hidden_tag() }}

                {{form.job_id()}}
                {{form.resume_id()}}
    
                <div class="field ">
                  <label class="label {{theme_text_color}}">{{ form.new_status.label }}</label>
                  <div class="select">
                    {{form.new_status(class='select', placeholder='Select status')}}
                  </div>
                </div>

                <div class="field">
                    <label class="label {{theme_text_color}}">{{ form.notes.label }}</label>
                    <div class="control">
                      {{form.notes(class='textarea', placeholder='Please enter your notes about status change.')}}
                    </div>
                  </div>

                <div class="field">
                  <p class="control">
                    {{ form.submit( class = 'button is-success is-rounded') }}    
                  </p>      
                </div>
              </form>
    
          </div>
      </div>
      <button onclick="document.getElementById('modal-window').style.display = 'none';" class="modal-close is-large" aria-label="close"></button>

</div>

{% endblock %}

