{%extends "app_header.html" %}
{%block content%}
<section class ="container is-fullheight">
    <div class = "block is-6 has-text-info-light">
        This section allows you to create new JDs along with working on existing JDs.
    </div>
    
        <div class="table-container">
          <table class="table is-narrow">
            <!-- Your table content -->
            <tbody>
            {% for jd in jdList %}
              {%if loop.first %}
                <thead>
                  <tr class="has-background-dark">
                    <th class="has-text-centered has-text-light">ID</th>
                    <th class="has-text-centered has-text-light">CLIENT</th>
                    <th class="has-text-centered has-text-light">STATUS</th>
                    <th class="has-text-centered has-text-light">TITLE</th>
                    <th class="has-text-centered has-text-light">OPEN DATE</th>
                    <th class="has-text-centered has-text-light">HIRING MANAGER</th>
                    <th class="has-text-centered has-text-light">ACTIONS</th>
                  </tr>
                </thead>
              {%endif %}
              <tr class="has-background-dark">
                <td class="has-text-centered has-text-light">{{ jd.id }}</td>
                <td class="has-text-centered has-text-light">{{ jd.client }}</td>
                <td class="has-text-centered has-text-light">{{ jd.status }}</td>
                <td class="has-text-centered has-text-light">{{ jd.title }}</td>
                <td class="has-text-centered has-text-light">{{ jd.open_date.strftime("%Y-%b-%d") }}</td> 
                <td class="has-text-centered has-text-light">{{ jd.hiring_mgr_name }}</td>
                <td class="has-text-centered has-text-light">
                  <div class ="field is-grouped">
                    <p class="control"><a class="button is-link is-small" href="/jd/showEditPage/{{jd.id}}" >Edit</a></p>
                    <p class="control"><a class="button is-link  is-small" href="/jd/showApplyPage/{{jd.id}}">Shortlist resumes</a></p>
                    <p class="control"><a class="button is-link  is-small" href="">Work on it</a></p>

                 </div>    
                </td>       
  
              </tr>
            {% else %}
              <div class="notification is-warning">
                No JDs found !!!
              </div>
            {% endfor %}
          </tbody>
          </table>
        </div>  
</section>
{% endblock %}
