{%extends "app_header.html" %}
{%block content%}
<div class="body-background">
  <div class="job-position">
    <div class="container">
      <section class="section topbar-title">
        <h1 class="title">Job Browser</h1>
        <h2 class="subtitle">
          Browse through existing postings & various steps like shortlisting candidates or
          updating status of each job
          posting.
        </h2>
        {% include '/utils/show_timed_msg.html'%}
      </section>
    </div>
  </div>
  <div class="job-position table-height">
    <div class="container">
      <section class="application-form">
        <div class="table-container">
          <table class="table is-fullwidth">
            {% for jd in jdList %}
            {%if loop.first %}
            <thead>
              <tr class="header">
                <th style="color: #8c8c8c;">Client<span style="margin-left: 10px;"><a
                      href="{{url_for('show_jd_all_page', order_by='client')}}"><i
                        class="fa fa-arrow-up"></i></a></span>
                </th>
                <th style="color: #8c8c8c;">Status <span style="margin-left: 10px;"><i
                      class="fa fa-arrow-up"></i></span>
                </th>
                <th style="color: #8c8c8c;">Title <span style="margin-left: 10px;"><i class="fa fa-arrow-up"></i></span>
                </th>
                <th style="color: #8c8c8c;">Open Date <span style="margin-left: 10px;"><i
                      class="fa fa-arrow-up"></i></span>
                </th>
                <th style="color: #8c8c8c;">Hiring Manager <span style="margin-left: 10px;"><i
                      class="fa fa-arrow-up"></i></span>
                </th>
                <th style="color: #8c8c8c;">Actions</th>
              </tr>
            </thead>
            {% endif %}
            <tbody>
              <tr class="table-data">
                <td>{{jd.client}}</td>
                {%if jd.status == 0 %}
                <td>Open</td>
                {% endif %}
                {%if jd.status == 1 %}
                <td>Draft</td>
                {% endif %}
                {%if jd.status == 2 %}
                <td>Closed</td>
                {% endif %}

                <td>{{jd.title}}</td>
                <td>{{ jd.open_date.strftime("%Y-%b-%d") }}</td>
                <td>{{ jd.hiring_mgr_name }}</td>
                <td>
                  <a href="/jd/showShortlistPage/{{jd.id}}"><abbr title="Shortlist candidates"><i
                        class="fa fa-thumbs-o-up"></i></abbr></a>
                  <span style="margin-left: 20px;"><a href="/jd/showWorkPage/{{jd.id}}"><abbr
                        title="View Shortlisted candidates"><i class="fa fa-search"></i></abbr></a></span>
                  <span style="margin-left: 20px;"><a href="/jd/showSummaryPage/{{jd.id}}"><abbr
                        title="View Status Summary"><i class="fa fa-file-text"></i></abbr></a></span>
                  <span style="margin-left: 20px;"><a href="/jd/showEditPage/{{jd.id}}"><abbr title="Edit"><i
                          class="fa fa-pencil-square-o"></i></abbr></a></span>
                  <span style="margin-left: 20px;"><a href="/jd/download/{{jd.id}}"><abbr title="Download Client JD"><i
                          class="fa fa-download"></i></abbr></a></span>
                </td>
              </tr>
              {% else %}
              <div class="notification is-warning">
                No JDs found !!!
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}