<div class="block">  
  <form action = "/jd/searchNonShortlistedResumes" method="POST" 
      data-turbo-frame="show_non_shortlisted_resume_List">
    
      <div class="control">
      {{searchForm.job_id(class='hidden')}}
    </div>
    
    <div class="field">

      <div class="field has-addons">
        <div class="control">
          {{searchForm.ft_search(class='input', placeholder="Search resumes")}}
        </div>
        <div class="control">
          {{ searchForm.submit( class = 'button is-info ') }}
        </div>
      </div>
    </div>  
  </form>

  <turbo-frame id="show_non_shortlisted_resume_List">
    
    <div class="table-container">
      <table id="shortlist-candidate" class="table is-fullwidth">
        <tbody>
          {% for resume in allresumeList %}
            {%if loop.first %}
              <thead>
                <tr class="{{theme_bg_color}}">
                  <!-- <th class="has-text-left {{theme_text_color}}">RESUME ID</th> -->
                  <th class="has-text-left {{theme_text_color}}">Name</th>
                  <th class="has-text-left {{theme_text_color}}">Email</th>
                  <th class="has-text-left {{theme_text_color}}">Phone</th>
                  <th class="has-text-centered {{theme_text_color}}">Status</th>
                  <th class="has-text-left {{theme_text_color}}">Action</th>
                </tr>
              </thead>
            {%endif %}
            <tr class="{{theme_bg_color}}">
              <!-- <td class="has-text-left {{theme_text_color}}">{{ resume.id }}</td> -->
              <td class="has-text-left {{theme_text_color}}">{{ resume.name }}</td>
              <td class="has-text-left {{theme_text_color}}">{{ resume.email }}</td> 
              <td class="has-text-left {{theme_text_color}}">{{ resume.phone }}</td>
              <td class="has-text-centered {{theme_text_color}}">{{ resume.status }}-{{resume.description}}</td>
              <td class="has-text-left {{theme_text_color}}">
                <div class ="field is-grouped" data-turbo="false">
                  <a title="shortlist"  href="/jd/shortlist/?resume_id={{resume.id}}&job_id={{job_id}}">
                    <i class="fa fa-bookmark"></i></abbr>
                  </a>
                  <span ><a title="download" href="/resume/download/{{resume.id}}?src=jd-shortlist-page">
                    <i class="fa fa-download"></i></a></span>
                </div>
              </td>       
            </tr>
          {% else %}
            <div class="notification is-warning">
              No Resumes found !!!
            </div>
          {% endfor %}
        </tbody>
      </table>  
    </div>
  </turbo-frame>
  
</div>

