{%extends "app_header.html" %}
{%block content%}
{% include 'jd/header1.html'%}
<section class="container is-fullheight">
    <turbo-frame id ="header">
      {% include 'utils/show_modal_msg.html'%}

      <div class = "block has-text-left">
          <span class="title is-size-4 has-text-info">Shortlist Resumes</span><br>
          <span class="is-size-7 has-text-info">Search existing resumes and shortlist them for a job.</span>
      </div>
      <div class="block"></div>
    </turbo-frame>

    <div class="tile is-ancestor">
        <turbo-frame id = 'show_non_shortlisted_resumeList'>
        <div class="tile is-child box {{theme_bg_color}}">
              
          {% include '/jd/non_shortlisted_candidates_list.html'%}
  
        </div>
        </turbo-frame>
        <turbo-frame id="show_shorlisted_resumes">
        <div class="tile is-child box {{theme_bg_color}}">
            <div class="block">   
                <div class="table-container has-text-centered">
                  <table class="table is-striped">
                    <tbody>
                    {% for resume in shortlistedList %}
                      {%if loop.first %}

                        <thead>
                          <tr class="{{theme_bg_color}}">
                            <th class="has-text-centered {{theme_text_color}}">CURRENTLY SHORTLISTED </th>
                          </tr>
                        </thead>
                      {%endif %}
                      <tr class="{{theme_bg_color}}">
                        <td class="has-text-centered {{theme_text_color}}">{{ resume.name }}</td>
                      </tr>
                    {% else %}
                      <div class="notification is-warning">
                        No shorlisted candidates found !!!
                      </div>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>  
            </div>

        </div>
        </turbo-frame>
    </div>

</section>

{% endblock %}

