{%extends "app_header.html" %}
{%block content%}
{% include 'jd/header1.html'%}
<div class="shortlist-candidates-list">
<section   class="container is-fullheight">
  {% include '/utils/show_timed_msg.html' %}


     <div  class = "block has-text-left">
        <span class="title is-size-4 has-text-info">Shortlisted Candidates</span><br>
        <span class="is-size-7 has-text-info">Details of shortlisted applicants for this job. You can update the progress for each applicant periodically.</span>
    </div>
    



  <div class="menu-bar">
  <ul>
  <li >
    <b><label for="new-button">Status</label></b>
    <button class="new-button" aria-haspopup="true" aria-controls="dropdown-menu">
      <span>All</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  <div class="sub-menu-1">
    <ul>
      {% for status_category in application_status_codes_category %}
      <li class="hover-me"><a href="#">{{status_category.category}} </a><i class="fa fa-angle-right"></i>
        <div class="sub-menu-2">
          <ul>
            {% for status_sub_category in application_status_codes_sub_category[status_category.category] %}
              <li><a href="#">{{status_sub_category}} </a></li>
            {% endfor %}
          </ul>
      </li>
      {% endfor %}
     
  </div>
  </ul></div>





    {% include '/resume/browser.html'%}
    
</section></div>

{% endblock %}

