{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">

    {% include 'utils/show_modal_msg.html'%}
    {% include 'jd/header1.html'%}
    <div class = "block has-text-left">
        <span class="title is-size-4 has-text-info">Shortlist Resumes</span><br>
        <span class="is-size-7 has-text-info">Search existing resumes and shortlist them for a job.</span>
    </div>
    
    <div class="tile is-ancestor">

        <div class="tile is-child box {{theme_bg_color}}">
          <form action = "/resume/search" method="POST" enctype="multipart/form-data">
            <div class="field">
    
              <div class="field has-addons">
                <div class="control">
                  {{searchForm.ft_search(class='input', placeholder="Search resumes")}}
                </div>
                <div class="control">
                  {{ searchForm.submit( class = 'button is-success is-rounded') }}
                </div>
              </div>
    
            </div>  
          </form>
          {% include '/resume/browser.html'%}
        </div>
        <div class="tile is-child box {{theme_bg_color}}">
            <div class="block">   
                <div class="table-container has-text-centered">
                  <table class="table is-striped">
                    <tbody>
                    {% for resume in shortlistedList %}
                      {%if loop.first %}

                        <thead>
                          <tr class="{{theme_bg_color}}">
                            <th class="has-text-centered {{theme_text_color}}">CURRENTLY SHORTLISTED </th>
                          </tr>
                        </thead>
                      {%endif %}
                      <tr class="{{theme_bg_color}}">
                        <td class="has-text-centered {{theme_text_color}}">{{ resume.name }}</td>
                      </tr>
                    {% else %}
                      <div class="notification is-warning">
                        No shorlisted candidates found !!!
                      </div>
                    {% endfor %}
                  </tbody>
                  </table>
                </div>  
            </div>

        </div>
    </div>

</section>

{% endblock %}

