{%extends "app_header.html" %}
{%block content%}
{% include 'jd/header1.html'%}

{# <section class="container is-fullheight">
  {% include '/utils/show_timed_msg.html' %}

  <div class="block has-text-left">
    <span class="title is-size-4 has-text-info">Shortlisted resumes</span><br>
    <span class="is-size-7 has-text-info">Details of shortlisted applicants for this job. You can update the progress
      for each applicant periodically.</span>
  </div>
  <div class="block has-text-left">
    <div class="dropdown is-hoverable">
      <div class="dropdown-trigger">
        <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Filter based on status</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
          <a href="#" class="dropdown-item is-active">
            All
          </a>
          <hr class="dropdown-divider">
          {% for asc in appStatusCodesList %}
          <a href="#" class="dropdown-item">
            {{asc.description}}
          </a>
          {% else %}
          <div class="notification is-warning">
            No application status codes found !!!
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>


</section> #}

<div class="body-background is-half">
  <div class="job-position">
    <div class="container">
      <section class="section topbar-title">
        <div id="manageUsersPageMessages">
          {% include '/utils/show_timed_msg.html'%}
        </div>
        <h1 class="title">Shortlisted Candidates</h1>
        <h2 class="subtitle">
          Details of shortlisted applicants for this job. You can update the progress
          for each applicant periodically.
        </h2>

      </section>
    </div>
    <div class="container">
      <section class="section topbar-title">
        <div class="block has-text-left">
          <h4>Status</h4>
          <div class="menu-bar">
            <ul>
              <li>
                <button class="new-button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>All</span>
                  <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
                <div class="sub-menu-1">
                  <ul>
                    {% for status_category in appStatusCodesCatList %}
                    <li class="hover-me"><a href="#">{{status_category.description}} </a><i class="fa fa-angle-right"></i>
                      <div class="sub-menu-2">
                        <ul>
                          {% for status_sub_category in appStatusCodesSubCatList[status_category.id] %}
                          <li><a href="#">{{status_sub_category.description}} </a></li>
                          {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
        
                </div>
              </li>
            </ul>
      </section>
    </div>

      </div>
    </div>
  </div>
</div>
{% include '/resume/browser.html'%}

{% endblock %}