    <!--
    <p class="control"><a class="button is-info  is-small" href="/resume/download?resume={{resume.resume_filename}}">View Resume</a></p>
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Update Status</a></p> 
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Schedule Interviews</a></p> 
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Message Candidate</a></p> 
    -->

    <div class = "block has-text-left"> 
        <div class="dropdown is-hoverable">
            <div class="dropdown-trigger">
              <button class="button is-info" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Actions</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="/resume/download?resume={{resume.resume_filename}}" class="dropdown-item">
                    View Resume
                </a> 
                <a href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}" class="dropdown-item">
                    Update Status
                </a>
                <!--
                <a href="#" class="dropdown-item">
                    Schedule Interviews
                </a>
                -->
              </div>
            </div>    
        </div>
    </div>