{%extends "app_header.html" %}
{%block content%}

<section class="container is-fullheight">

    {% include 'utils/show_modal_msg.html'%}
    {% include 'jd/header1.html'%}
    <div class = "block has-text-left">
        <span class="title is-size-4 has-text-info">Candidates status summary page</span><br>
        <span class="is-size-7 has-text-info">This page shows number of candidates for various phases an application goes thru.</span>
    </div>
    
    <div class="block">   
        <div class="table-container has-text-centered">
          <table class="table is-striped">
            <tbody>
            {% for ss in statusSummary %}
              {%if loop.first %}

                <thead>
                  <tr class="{{theme_bg_color}}">
                    <th class="has-text-centered {{theme_text_color}}">STATUS CODE</th>
                    <th class="has-text-centered {{theme_text_color}}">STATUS DESCRIPTION</th>
                    <th class="has-text-centered {{theme_text_color}}">CANDIDATES COUNT</th>

                </tr>
                </thead>
              {%endif %}
              <tr class="{{theme_bg_color}}">
                <td class="has-text-centered {{theme_text_color}}">{{ ss.status }}</td>
                <td class="has-text-centered {{theme_text_color}}">{{ ss.description }}</td>
                <td class="has-text-centered {{theme_text_color}}">{{ ss.count }}</td>
              </tr>
            {% else %}
              <div class="notification is-warning">
                No status summary found for this job. !!!
              </div>
            {% endfor %}
          </tbody>
          </table>
        </div>  
    </div>

    <a class="button is-success is-rounded" onclick="window.print();">Print</a>
    <a class="button is-success is-rounded" href="">EMail</a>

</section>

{% endblock %}

