<div class="card">

    <div class="card-content {{theme_bg_color}}">  
        <div class="table-container">
            <table class="table is-bordered is-narrow">
              <caption class="{{theme_text_color}} is-uppercase">Interview Panel</caption>
              <tbody>
                  <thead>
                    <tr class="{{theme_bg_color}}">
                      <th class="has-text-centered {{theme_text_color}}">No.</th>
                      <th class="has-text-centered {{theme_text_color}}">Name</th>
                      <th class="has-text-centered {{theme_text_color}}">Email</th>
                      <th class="has-text-centered {{theme_text_color}}">Phone</th>
                    </tr>
                  </thead>
                <tr class="has-background-light">
                  <td class="has-text-centered {{theme_text_color}}">1</td>
                  <td class="has-text-centered {{theme_text_color}}"><div class="control">
                        {{form.intv_panel_name_1(class='input', placeholder='Enter Name')}}
                        </div>
                  </td> 
                  <td class="has-text-centered {{theme_text_color}}"><div class="control">
                    {{form.intv_panel_email_1(class='input', placeholder='Enter email')}}
                    </div>
                  </td>
                  <td class="has-text-centered {{theme_text_color}}"><div class="control">
                    {{form.intv_panel_phone_1(class='input', placeholder='Enter phone')}}
                    </div>
                  </td> 
                </tr>
                <tr>
                    <td class="has-text-centered {{theme_text_color}}">2</td>
                    <td class="has-text-centered {{theme_text_color}}"><div class="control">
                          {{form.intv_panel_name_2(class='input', placeholder='Enter Name')}}
                          </div>
                    </td> 
                    <td class="has-text-centered {{theme_text_color}}"><div class="control">
                      {{form.intv_panel_email_2(class='input', placeholder='Enter email')}}
                      </div>
                    </td>
                    <td class="has-text-centered {{theme_text_color}}"><div class="control">
                      {{form.intv_panel_phone_2(class='input', placeholder='Enter phone')}}
                      </div>
                    </td> 
                </tr>

            </tbody>
            </table>
            <table class="table is-bordered is-narrow">
              <caption class="{{theme_text_color}} is-uppercase">Hiring Manager</caption>
              <tbody>
                  <thead>
                    <tr class="{{theme_bg_color}}">
                      <th class="has-text-centered {{theme_text_color}}">No.</th>
                      <th class="has-text-centered {{theme_text_color}}">Name</th>
                      <th class="has-text-centered {{theme_text_color}}">Email</th>
                      <th class="has-text-centered {{theme_text_color}}">Phone</th>
                    </tr>
                  </thead>
                <tr class="has-background-light">
                  <td class="has-text-centered has-text-dark">1</td>
                  <td class="has-text-centered has-text-dark"><div class="control">
                        {{form.hiring_mgr_name(class='input', placeholder='Enter Name')}}
                        </div>
                  </td> 
                  <td class="has-text-centered has-text-dark"><div class="control">
                    {{form.hiring_mgr_email(class='input', placeholder='Enter email')}}
                    </div>
                  </td>
                  <td class="has-text-centered has-text-dark"><div class="control">
                    {{form.hiring_mgr_phone(class='input', placeholder='Enter phone')}}
                    </div>
                  </td> 
                </tr>
            </tbody>
            </table>
            <table class="table is-bordered is-narrow">
              <caption class="{{theme_text_color}} is-uppercase">HR</caption>
              <tbody>
                  <thead>
                    <tr class="{{theme_bg_color}}">
                      <th class="has-text-centered {{theme_text_color}}">No.</th>
                      <th class="has-text-centered {{theme_text_color}}">Name</th>
                      <th class="has-text-centered {{theme_text_color}}">Email</th>
                      <th class="has-text-centered {{theme_text_color}}">Phone</th>
                    </tr>
                  </thead>
                <tr class="has-background-light">
                  <td class="has-text-centered has-text-dark">1</td>
                  <td class="has-text-centered has-text-dark"><div class="control">
                        {{form.hr_name(class='input', placeholder='Enter Name')}}
                        </div>
                  </td> 
                  <td class="has-text-centered has-text-dark"><div class="control">
                    {{form.hr_email(class='input', placeholder='Enter email')}}
                    </div>
                  </td>
                  <td class="has-text-centered has-text-dark"><div class="control">
                    {{form.hr_phone(class='input', placeholder='Enter phone')}}
                    </div>
                  </td> 
                </tr>
            </tbody>
            </table>
          </div>  
  
    </div>
</div>