<div class ="field is-grouped">
    <p class="control"><a class="button is-info  is-small" href="/resume/download?resume={{resume.resume_filename}}">View Resume</a></p>
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Update Status</a></p> 
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Schedule Interviews</a></p> 
    <p class="control"><a class="button is-info is-small" href="/jd/showJobAppUpdatePage?resume_id={{resume.id}}&job_id={{jd.id}}">Message Candidate</a></p> 

</div>