<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/bulma.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <div class="confirm">
        <div class="column is-one-third">
            <div class="job-position ml-7">
            <div class="container">
                <div class="card">
                <div class="card-content">
                    <div class="content">
                    <label class="label">
                        Few guidelines
                    </label>
                    <ul class="list-unstyled">
                        <li>Account confirmation link has been send to your given email </li>
                        <li>Please click on the link to activate your account</li>
                        <li>Link is valid for 24 hours only</li>
                    </ul>
                    <br><br>
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a href="https://mail.google.com">Open Google</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<a href="https://outlook.com">Open outlook</a>
                    <br><br>
                    <p>Didn't get an email? Check your spam folder!</p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>
